{
  "http_interactions": [
    {
      "recorded_at": "2021-02-26T01:53:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"project_name\": \"example\", \"model_name\": \"rna_seq\", \"record_names\": \"all\", \"attribute_names\": [\"tube_name\", \"biospecimen\", \"fraction\", \"notes\", \"gene_expression\", \"raw_fastqs\"], \"format\": \"tsv\", \"filter\": \"\"}"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://magma.ucsf.edu/retrieve"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "tube_name\tbiospecimen\tfraction\nEXAMPLE-HS10-WB1-RSQ1\tEXAMPLE-HS10-WB1\tTcells\nEXAMPLE-HS11-WB1-RSQ1\tEXAMPLE-HS11-WB1\tTcells\nEXAMPLE-HS12-WB1-RSQ1\tEXAMPLE-HS12-WB1\tTcells\nEXAMPLE-HS1-WB1-RSQ1\tEXAMPLE-HS1-WB1\tTcells\nEXAMPLE-HS2-WB1-RSQ1\tEXAMPLE-HS2-WB1\tTcells\nEXAMPLE-HS3-WB1-RSQ1\tEXAMPLE-HS3-WB1\tTcells\nEXAMPLE-HS4-WB1-RSQ1\tEXAMPLE-HS4-WB1\tTcells\nEXAMPLE-HS5-WB1-RSQ1\tEXAMPLE-HS5-WB1\tTcells\nEXAMPLE-HS6-WB1-RSQ1\tEXAMPLE-HS6-WB1\tTcells\nEXAMPLE-HS7-WB1-RSQ1\tEXAMPLE-HS7-WB1\tTcells\nEXAMPLE-HS8-WB1-RSQ1\tEXAMPLE-HS8-WB1\tTcells\nEXAMPLE-HS9-WB1-RSQ1\tEXAMPLE-HS9-WB1\tTcells\n"
        },
        "headers": {
          "Content-Disposition": [
            "inline; filename=\"results.tsv"
          ],
          "Content-Type": [
            "text/tsv"
          ],
          "Service-Worker-Allowed": [
            "/"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://magma.ucsf.edu/retrieve"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}