interactions:
- request:
    body: '{"token_type": "task", "project_name": "ipi", "read_only": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXX-Auth
    method: POST
    uri: https://janus.ucsf.edu/api/tokens/generate
  response:
    body:
      string: eyJhbGciOiJSUzI1NiJ9.eyJlbWFpbCI6InphY2hhcnkuY29sbGluc0B1Y3NmLmVkdSIsIm5hbWUiOiJaYWNoYXJ5IENvbGxpbnMiLCJwZXJtIjoiZTppcGkiLCJmbGFncyI6ImluZ2VzdDt2dWxjYW47dGltdXJhZHZhbmNlZDtxdWVyeXBsb3QiLCJleHAiOjE2NDY4NTc0MDcsInRhc2siOnRydWV9.qwUqHib1z9KmXFAafaBEk5qfA4XA3BY9bG1jioHuu1sIZ5RMLdhwmn9KHZq3ucj3Ba9b4rngKUUspzRDyp0OEfYpRGbrtbbVrPGf8eUHTWa-Ci9YfDC20U0ztMCugzmAhw4guCuJ07O8tP-4cUGAYPBCfzNY_BdxzABU1LJzf4RlOFzGeIjbQOiSW0lAM3Cs3EAlwPgff4wbDbb9bKOY-Wbrw85Np2F6JkqIbLcBXb_nRZAZsdk5YnB6kl0BYLgtRnu4WdL1IHPzvXcr6u_SXe-d5wDqJLADdmhGLe0FLsNjf5g5UyVKNkBaJGFVxpwdPnbRZN9mL-yA_VVdWe0WQD1pjyeg7Qdni7yxa6n6Te2yRVcy8XSH7RRZk0IA4nYYSnk7xcB8RqiA4WfLu25_XkpUaHVyhZBSBSOEN9DSZ0KYjt-bwlWDcF91LlaAG6RXfH0-PhjTHEAOcqRxxK08lCNiqRveCQKlAmvh5ZlT7nugI0axywq4qHkMjGZcD12RwZWSLLYk35uQh3VJ0KRuiw2XOkbx3m49IwVt2E_xwua0bY4rmKi38mOPlPfaS93SWN7JpJhxLMXik1tHmDDvu0sSkFHQQC5-ek7QpQoBN9K96kmp-rX4VD4UnQjFiX5v6tqcff-djkvIoTKkPz0-eAdKm3ogIHXs7LQ9bvDovWY
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Service-Worker-Allowed:
      - /
    status:
      code: 200
      message: OK
- request:
    body: '{"project_name": "ipi", "model_name": "rna_seq", "attribute_names": ["tube_name"],
      "hide_templates": true, "record_names": "all", "page": 1, "page_size": 300}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXX-Auth
    method: POST
    uri: https://magma.ucsf.edu/retrieve
  response:
    body:
      string: '{"models":{"rna_seq":{"documents":{"IPIADR001.T1.rna.live":{"tube_name":"IPIADR001.T1.rna.live"},"IPIADR001.T1.rna.myeloid":{"tube_name":"IPIADR001.T1.rna.myeloid"},"IPIADR001.T1.rna.stroma":{"tube_name":"IPIADR001.T1.rna.stroma"},"IPIADR001.T1.rna.tcell":{"tube_name":"IPIADR001.T1.rna.tcell"},"IPIADR001.T1.rna.tumor":{"tube_name":"IPIADR001.T1.rna.tumor"},"IPIADR002.T1.rna.live":{"tube_name":"IPIADR002.T1.rna.live"},"IPIADR002.T1.rna.stroma":{"tube_name":"IPIADR002.T1.rna.stroma"},"IPIADR002.T1.rna.tumor":{"tube_name":"IPIADR002.T1.rna.tumor"},"IPIADR003.N2.rna.CD45negPBS":{"tube_name":"IPIADR003.N2.rna.CD45negPBS"},"IPIADR003.N2.rna.CD45posPBS":{"tube_name":"IPIADR003.N2.rna.CD45posPBS"},"IPIADR003.N2.rna.live":{"tube_name":"IPIADR003.N2.rna.live"},"IPIADR003.N2.rna.myeloids":{"tube_name":"IPIADR003.N2.rna.myeloids"},"IPIADR003.N2.rna.tcells":{"tube_name":"IPIADR003.N2.rna.tcells"},"IPIADR003.N2.rna.tumor":{"tube_name":"IPIADR003.N2.rna.tumor"},"IPIADR003.T1.rna.CD45posPBS":{"tube_name":"IPIADR003.T1.rna.CD45posPBS"},"IPIADR003.T1.rna.live":{"tube_name":"IPIADR003.T1.rna.live"},"IPIADR003.T1.rna.myeloid":{"tube_name":"IPIADR003.T1.rna.myeloid"},"IPIADR003.T1.rna.stroma":{"tube_name":"IPIADR003.T1.rna.stroma"},"IPIADR003.T1.rna.tcell":{"tube_name":"IPIADR003.T1.rna.tcell"},"IPIADR003.T1.rna.tcells":{"tube_name":"IPIADR003.T1.rna.tcells"},"IPIADR003.T1.rna.tumor":{"tube_name":"IPIADR003.T1.rna.tumor"},"IPIADR003.T1.rna.tumorPBS":{"tube_name":"IPIADR003.T1.rna.tumorPBS"},"IPIBLAD005.N1.rna.cd45neg":{"tube_name":"IPIBLAD005.N1.rna.cd45neg"},"IPIBLAD005.N1.rna.live":{"tube_name":"IPIBLAD005.N1.rna.live"},"IPIBLAD005.N1.rna.myeloid":{"tube_name":"IPIBLAD005.N1.rna.myeloid"},"IPIBLAD005.N1.rna.stroma":{"tube_name":"IPIBLAD005.N1.rna.stroma"},"IPIBLAD005.N1.rna.tcell":{"tube_name":"IPIBLAD005.N1.rna.tcell"},"IPIBLAD005.N1.rna.treg":{"tube_name":"IPIBLAD005.N1.rna.treg"},"IPIBLAD005.T1.rna.live":{"tube_name":"IPIBLAD005.T1.rna.live"},"IPIBLAD005.T1.rna.myeloid":{"tube_name":"IPIBLAD005.T1.rna.myeloid"},"IPIBLAD005.T1.rna.stroma":{"tube_name":"IPIBLAD005.T1.rna.stroma"},"IPIBLAD005.T1.rna.tcell":{"tube_name":"IPIBLAD005.T1.rna.tcell"},"IPIBLAD005.T1.rna.tumor":{"tube_name":"IPIBLAD005.T1.rna.tumor"},"IPIBLAD006.T1.rna.live":{"tube_name":"IPIBLAD006.T1.rna.live"},"IPIBLAD006.T1.rna.live2":{"tube_name":"IPIBLAD006.T1.rna.live2"},"IPIBLAD006.T1.rna.myeloid":{"tube_name":"IPIBLAD006.T1.rna.myeloid"},"IPIBLAD006.T1.rna.stroma":{"tube_name":"IPIBLAD006.T1.rna.stroma"},"IPIBLAD006.T1.rna.tcell":{"tube_name":"IPIBLAD006.T1.rna.tcell"},"IPIBLAD006.T1.rna.treg":{"tube_name":"IPIBLAD006.T1.rna.treg"},"IPIBLAD006.T1.rna.tumor":{"tube_name":"IPIBLAD006.T1.rna.tumor"},"IPIBLAD010.T1.rna.live":{"tube_name":"IPIBLAD010.T1.rna.live"},"IPIBLAD010.T1.rna.stroma":{"tube_name":"IPIBLAD010.T1.rna.stroma"},"IPIBLAD010.T1.rna.tcell":{"tube_name":"IPIBLAD010.T1.rna.tcell"},"IPIBLAD010.T1.rna.treg":{"tube_name":"IPIBLAD010.T1.rna.treg"},"IPIBLAD010.T1.rna.tumor":{"tube_name":"IPIBLAD010.T1.rna.tumor"},"IPIBLAD011.T1.rna.live":{"tube_name":"IPIBLAD011.T1.rna.live"},"IPIBLAD011.T1.rna.myeloid":{"tube_name":"IPIBLAD011.T1.rna.myeloid"},"IPIBLAD011.T1.rna.tcell":{"tube_name":"IPIBLAD011.T1.rna.tcell"},"IPIBLAD011.T1.rna.treg":{"tube_name":"IPIBLAD011.T1.rna.treg"},"IPIBLAD011.T1.rna.tumor":{"tube_name":"IPIBLAD011.T1.rna.tumor"},"IPIBLAD013.T1.rna.live":{"tube_name":"IPIBLAD013.T1.rna.live"},"IPIBLAD013.T1.rna.myeloid":{"tube_name":"IPIBLAD013.T1.rna.myeloid"},"IPIBLAD013.T1.rna.stroma":{"tube_name":"IPIBLAD013.T1.rna.stroma"},"IPIBLAD013.T1.rna.tcell":{"tube_name":"IPIBLAD013.T1.rna.tcell"},"IPIBLAD013.T1.rna.treg":{"tube_name":"IPIBLAD013.T1.rna.treg"},"IPIBLAD013.T1.rna.tumor":{"tube_name":"IPIBLAD013.T1.rna.tumor"},"IPIBLAD014.T1.rna.epcam":{"tube_name":"IPIBLAD014.T1.rna.epcam"},"IPIBLAD014.T1.rna.live":{"tube_name":"IPIBLAD014.T1.rna.live"},"IPIBLAD014.T1.rna.myeloid":{"tube_name":"IPIBLAD014.T1.rna.myeloid"},"IPIBLAD014.T1.rna.stroma":{"tube_name":"IPIBLAD014.T1.rna.stroma"},"IPIBLAD014.T1.rna.tcell":{"tube_name":"IPIBLAD014.T1.rna.tcell"},"IPIBLAD014.T1.rna.treg":{"tube_name":"IPIBLAD014.T1.rna.treg"},"IPIBLAD015.T1.rna.myeloid":{"tube_name":"IPIBLAD015.T1.rna.myeloid"},"IPIBLAD015.T1.rna.stroma":{"tube_name":"IPIBLAD015.T1.rna.stroma"},"IPIBLAD015.T1.rna.tcell":{"tube_name":"IPIBLAD015.T1.rna.tcell"},"IPIBLAD015.T1.rna.treg":{"tube_name":"IPIBLAD015.T1.rna.treg"},"IPIBLAD015.T1.rna.tumor":{"tube_name":"IPIBLAD015.T1.rna.tumor"},"IPIBLAD015.T2.rna.live":{"tube_name":"IPIBLAD015.T2.rna.live"},"IPIBLAD015.T2.rna.live2":{"tube_name":"IPIBLAD015.T2.rna.live2"},"IPIBLAD015.T2.rna.myeloid":{"tube_name":"IPIBLAD015.T2.rna.myeloid"},"IPIBLAD015.T2.rna.tcell":{"tube_name":"IPIBLAD015.T2.rna.tcell"},"IPIBLAD015.T2.rna.treg":{"tube_name":"IPIBLAD015.T2.rna.treg"},"IPIBLAD015.T2.rna.tumor":{"tube_name":"IPIBLAD015.T2.rna.tumor"},"IPIBLAD019.T1.rna.live":{"tube_name":"IPIBLAD019.T1.rna.live"},"IPIBLAD019.T1.rna.live2":{"tube_name":"IPIBLAD019.T1.rna.live2"},"IPIBLAD019.T1.rna.myeloid":{"tube_name":"IPIBLAD019.T1.rna.myeloid"},"IPIBLAD019.T1.rna.tcell":{"tube_name":"IPIBLAD019.T1.rna.tcell"},"IPIBLAD019.T1.rna.treg":{"tube_name":"IPIBLAD019.T1.rna.treg"},"IPIBLAD019.T1.rna.tumor":{"tube_name":"IPIBLAD019.T1.rna.tumor"},"IPIBLAD020.T1.rna.live":{"tube_name":"IPIBLAD020.T1.rna.live"},"IPIBLAD020.T1.rna.tcell":{"tube_name":"IPIBLAD020.T1.rna.tcell"},"IPIBLAD020.T1.rna.treg":{"tube_name":"IPIBLAD020.T1.rna.treg"},"IPIBLAD020.T1.rna.tumor":{"tube_name":"IPIBLAD020.T1.rna.tumor"},"IPIBLAD024.T1.rna.live":{"tube_name":"IPIBLAD024.T1.rna.live"},"IPIBLAD024.T1.rna.tcell":{"tube_name":"IPIBLAD024.T1.rna.tcell"},"IPIBLAD024.T1.rna.treg":{"tube_name":"IPIBLAD024.T1.rna.treg"},"IPIBLAD024.T1.rna.tumor":{"tube_name":"IPIBLAD024.T1.rna.tumor"},"IPIBLAD025.T1.rna.stroma":{"tube_name":"IPIBLAD025.T1.rna.stroma"},"IPIBLAD025.T1.rna.treg":{"tube_name":"IPIBLAD025.T1.rna.treg"},"IPIBLAD025.T1.rna.tumor":{"tube_name":"IPIBLAD025.T1.rna.tumor"},"IPIBLAD026.T1.rna.live":{"tube_name":"IPIBLAD026.T1.rna.live"},"IPIBLAD026.T1.rna.myeloid":{"tube_name":"IPIBLAD026.T1.rna.myeloid"},"IPIBLAD026.T1.rna.tcell":{"tube_name":"IPIBLAD026.T1.rna.tcell"},"IPIBLAD026.T1.rna.treg":{"tube_name":"IPIBLAD026.T1.rna.treg"},"IPIBLAD026.T1.rna.tumor":{"tube_name":"IPIBLAD026.T1.rna.tumor"},"IPIBLAD028.T1.rna.live":{"tube_name":"IPIBLAD028.T1.rna.live"},"IPIBLAD028.T1.rna.myeloid":{"tube_name":"IPIBLAD028.T1.rna.myeloid"},"IPIBLAD028.T1.rna.stroma":{"tube_name":"IPIBLAD028.T1.rna.stroma"},"IPIBLAD028.T1.rna.tcell":{"tube_name":"IPIBLAD028.T1.rna.tcell"},"IPIBLAD028.T1.rna.treg":{"tube_name":"IPIBLAD028.T1.rna.treg"},"IPIBLAD028.T1.rna.tumor":{"tube_name":"IPIBLAD028.T1.rna.tumor"},"IPIBLAD029.T1.rna.live":{"tube_name":"IPIBLAD029.T1.rna.live"},"IPIBLAD029.T1.rna.myeloid":{"tube_name":"IPIBLAD029.T1.rna.myeloid"},"IPIBLAD029.T1.rna.tcell":{"tube_name":"IPIBLAD029.T1.rna.tcell"},"IPIBLAD029.T1.rna.tumor":{"tube_name":"IPIBLAD029.T1.rna.tumor"},"IPIBLAD030.T1.rna.live":{"tube_name":"IPIBLAD030.T1.rna.live"},"IPIBLAD030.T1.rna.myeloid":{"tube_name":"IPIBLAD030.T1.rna.myeloid"},"IPIBLAD030.T1.rna.stroma":{"tube_name":"IPIBLAD030.T1.rna.stroma"},"IPIBLAD030.T1.rna.tcell":{"tube_name":"IPIBLAD030.T1.rna.tcell"},"IPIBLAD030.T1.rna.treg":{"tube_name":"IPIBLAD030.T1.rna.treg"},"IPIBLAD030.T1.rna.tumor":{"tube_name":"IPIBLAD030.T1.rna.tumor"},"IPIBLAD032.T1.rna.live":{"tube_name":"IPIBLAD032.T1.rna.live"},"IPIBLAD033.T1.rna.live":{"tube_name":"IPIBLAD033.T1.rna.live"},"IPIBLAD033.T1.rna.myeloid":{"tube_name":"IPIBLAD033.T1.rna.myeloid"},"IPIBLAD033.T1.rna.tumor":{"tube_name":"IPIBLAD033.T1.rna.tumor"},"IPIBLAD034.T1.rna.epcam":{"tube_name":"IPIBLAD034.T1.rna.epcam"},"IPIBLAD034.T1.rna.live":{"tube_name":"IPIBLAD034.T1.rna.live"},"IPIBLAD034.T1.rna.myeloid":{"tube_name":"IPIBLAD034.T1.rna.myeloid"},"IPIBLAD034.T1.rna.stroma":{"tube_name":"IPIBLAD034.T1.rna.stroma"},"IPIBLAD034.T1.rna.tcell":{"tube_name":"IPIBLAD034.T1.rna.tcell"},"IPIBLAD034.T1.rna.treg":{"tube_name":"IPIBLAD034.T1.rna.treg"},"IPIBLAD036.T1.rna.live":{"tube_name":"IPIBLAD036.T1.rna.live"},"IPIBLAD036.T1.rna.myeloid":{"tube_name":"IPIBLAD036.T1.rna.myeloid"},"IPIBLAD036.T1.rna.stroma":{"tube_name":"IPIBLAD036.T1.rna.stroma"},"IPIBLAD036.T1.rna.tcell":{"tube_name":"IPIBLAD036.T1.rna.tcell"},"IPIBLAD036.T1.rna.treg":{"tube_name":"IPIBLAD036.T1.rna.treg"},"IPIBLAD036.T1.rna.tumor":{"tube_name":"IPIBLAD036.T1.rna.tumor"},"IPIBLAD037.T1.rna.CD45pos":{"tube_name":"IPIBLAD037.T1.rna.CD45pos"},"IPIBLAD037.T1.rna.live":{"tube_name":"IPIBLAD037.T1.rna.live"},"IPIBLAD037.T1.rna.stroma":{"tube_name":"IPIBLAD037.T1.rna.stroma"},"IPIBLAD037.T1.rna.tcell":{"tube_name":"IPIBLAD037.T1.rna.tcell"},"IPIBLAD037.T1.rna.tcells":{"tube_name":"IPIBLAD037.T1.rna.tcells"},"IPIBLAD037.T1.rna.tumor":{"tube_name":"IPIBLAD037.T1.rna.tumor"},"IPIBLAD037.T1.rna.tumortrizol":{"tube_name":"IPIBLAD037.T1.rna.tumortrizol"},"IPIBLAD038.T1.rna.cd45pbs":{"tube_name":"IPIBLAD038.T1.rna.cd45pbs"},"IPIBLAD038.T1.rna.live":{"tube_name":"IPIBLAD038.T1.rna.live"},"IPIBLAD038.T1.rna.myeloids":{"tube_name":"IPIBLAD038.T1.rna.myeloids"},"IPIBLAD038.T1.rna.stroma":{"tube_name":"IPIBLAD038.T1.rna.stroma"},"IPIBLAD038.T1.rna.tcells":{"tube_name":"IPIBLAD038.T1.rna.tcells"},"IPIBLAD038.T1.rna.tregs":{"tube_name":"IPIBLAD038.T1.rna.tregs"},"IPIBLAD038.T1.rna.tumor":{"tube_name":"IPIBLAD038.T1.rna.tumor"},"IPIBLAD038.T1.rna.tumorpbs":{"tube_name":"IPIBLAD038.T1.rna.tumorpbs"},"IPIBLAD039.N1.rna.CD44negCD90neg":{"tube_name":"IPIBLAD039.N1.rna.CD44negCD90neg"},"IPIBLAD039.N1.rna.CD45negPBS":{"tube_name":"IPIBLAD039.N1.rna.CD45negPBS"},"IPIBLAD039.N1.rna.CD45posPBS":{"tube_name":"IPIBLAD039.N1.rna.CD45posPBS"},"IPIBLAD039.N1.rna.live":{"tube_name":"IPIBLAD039.N1.rna.live"},"IPIBLAD039.N1.rna.tcells":{"tube_name":"IPIBLAD039.N1.rna.tcells"},"IPIBLAD039.T1.rna.CD45negPBS":{"tube_name":"IPIBLAD039.T1.rna.CD45negPBS"},"IPIBLAD039.T1.rna.CD45posPBS":{"tube_name":"IPIBLAD039.T1.rna.CD45posPBS"},"IPIBLAD039.T1.rna.live":{"tube_name":"IPIBLAD039.T1.rna.live"},"IPIBLAD039.T1.rna.myeloids":{"tube_name":"IPIBLAD039.T1.rna.myeloids"},"IPIBLAD039.T1.rna.tcells":{"tube_name":"IPIBLAD039.T1.rna.tcells"},"IPIBLAD039.T1.rna.tumor":{"tube_name":"IPIBLAD039.T1.rna.tumor"},"IPIBRC031.N2.rna.Live":{"tube_name":"IPIBRC031.N2.rna.Live"},"IPIBRC031.N2.rna.Myeloids":{"tube_name":"IPIBRC031.N2.rna.Myeloids"},"IPIBRC031.N2.rna.Tcells":{"tube_name":"IPIBRC031.N2.rna.Tcells"},"IPIBRC031.T2.rna.epcam":{"tube_name":"IPIBRC031.T2.rna.epcam"},"IPIBRC031.T2.rna.EPCAMpos":{"tube_name":"IPIBRC031.T2.rna.EPCAMpos"},"IPIBRC031.T2.rna.live":{"tube_name":"IPIBRC031.T2.rna.live"},"IPIBRC031.T2.rna.Live":{"tube_name":"IPIBRC031.T2.rna.Live"},"IPIBRC031.T2.rna.myeloid":{"tube_name":"IPIBRC031.T2.rna.myeloid"},"IPIBRC031.T2.rna.Myeloids":{"tube_name":"IPIBRC031.T2.rna.Myeloids"},"IPIBRC031.T2.rna.tcell":{"tube_name":"IPIBRC031.T2.rna.tcell"},"IPIBRC031.T2.rna.Tcells":{"tube_name":"IPIBRC031.T2.rna.Tcells"},"IPICRC003.T1.rna.myeloid":{"tube_name":"IPICRC003.T1.rna.myeloid"},"IPICRC003.T1.rna.stroma":{"tube_name":"IPICRC003.T1.rna.stroma"},"IPICRC003.T1.rna.tcell":{"tube_name":"IPICRC003.T1.rna.tcell"},"IPICRC003.T1.rna.tumor":{"tube_name":"IPICRC003.T1.rna.tumor"},"IPICRC003.T1.rna.tumor2":{"tube_name":"IPICRC003.T1.rna.tumor2"},"IPICRC004.T1.rna.myeloid":{"tube_name":"IPICRC004.T1.rna.myeloid"},"IPICRC004.T1.rna.stroma":{"tube_name":"IPICRC004.T1.rna.stroma"},"IPICRC004.T1.rna.tcell":{"tube_name":"IPICRC004.T1.rna.tcell"},"IPICRC004.T1.rna.tcell2":{"tube_name":"IPICRC004.T1.rna.tcell2"},"IPICRC008.N1.rna.epcam":{"tube_name":"IPICRC008.N1.rna.epcam"},"IPICRC008.N1.rna.live":{"tube_name":"IPICRC008.N1.rna.live"},"IPICRC008.N1.rna.teff":{"tube_name":"IPICRC008.N1.rna.teff"},"IPICRC008.N1.rna.teff2":{"tube_name":"IPICRC008.N1.rna.teff2"},"IPICRC008.N1.rna.tumor":{"tube_name":"IPICRC008.N1.rna.tumor"},"IPICRC008.T1.rna.live":{"tube_name":"IPICRC008.T1.rna.live"},"IPICRC008.T1.rna.live2":{"tube_name":"IPICRC008.T1.rna.live2"},"IPICRC008.T1.rna.myeloid":{"tube_name":"IPICRC008.T1.rna.myeloid"},"IPICRC008.T1.rna.stroma":{"tube_name":"IPICRC008.T1.rna.stroma"},"IPICRC008.T1.rna.stroma2":{"tube_name":"IPICRC008.T1.rna.stroma2"},"IPICRC008.T1.rna.tcell":{"tube_name":"IPICRC008.T1.rna.tcell"},"IPICRC008.T1.rna.tcell2":{"tube_name":"IPICRC008.T1.rna.tcell2"},"IPICRC008.T1.rna.tcell3":{"tube_name":"IPICRC008.T1.rna.tcell3"},"IPICRC008.T1.rna.tcell4":{"tube_name":"IPICRC008.T1.rna.tcell4"},"IPICRC008.T1.rna.teff":{"tube_name":"IPICRC008.T1.rna.teff"},"IPICRC008.T1.rna.treg":{"tube_name":"IPICRC008.T1.rna.treg"},"IPICRC008.T1.rna.treg2":{"tube_name":"IPICRC008.T1.rna.treg2"},"IPICRC008.T1.rna.tumor":{"tube_name":"IPICRC008.T1.rna.tumor"},"IPICRC008.T1.rna.tumor2":{"tube_name":"IPICRC008.T1.rna.tumor2"},"IPICRC008.T2.rna.cd4locd25lo":{"tube_name":"IPICRC008.T2.rna.cd4locd25lo"},"IPICRC008.T2.rna.myeloid":{"tube_name":"IPICRC008.T2.rna.myeloid"},"IPICRC009.N1.rna.stroma":{"tube_name":"IPICRC009.N1.rna.stroma"},"IPICRC009.N1.rna.tcell":{"tube_name":"IPICRC009.N1.rna.tcell"},"IPICRC009.N1.rna.tcell2":{"tube_name":"IPICRC009.N1.rna.tcell2"},"IPICRC009.T1.rna.myeloid":{"tube_name":"IPICRC009.T1.rna.myeloid"},"IPICRC009.T1.rna.stroma":{"tube_name":"IPICRC009.T1.rna.stroma"},"IPICRC009.T1.rna.tcell":{"tube_name":"IPICRC009.T1.rna.tcell"},"IPICRC009.T1.rna.tumor":{"tube_name":"IPICRC009.T1.rna.tumor"},"IPICRC009.T1.rna.tumor2":{"tube_name":"IPICRC009.T1.rna.tumor2"},"IPICRC023.T1.rna.live":{"tube_name":"IPICRC023.T1.rna.live"},"IPICRC023.T1.rna.myeloid":{"tube_name":"IPICRC023.T1.rna.myeloid"},"IPICRC023.T1.rna.myeloid2":{"tube_name":"IPICRC023.T1.rna.myeloid2"},"IPICRC023.T1.rna.stroma":{"tube_name":"IPICRC023.T1.rna.stroma"},"IPICRC023.T1.rna.stroma2":{"tube_name":"IPICRC023.T1.rna.stroma2"},"IPICRC023.T1.rna.teff":{"tube_name":"IPICRC023.T1.rna.teff"},"IPICRC023.T1.rna.tumor":{"tube_name":"IPICRC023.T1.rna.tumor"},"IPICRC024.T1.rna.live":{"tube_name":"IPICRC024.T1.rna.live"},"IPICRC024.T1.rna.myeloid":{"tube_name":"IPICRC024.T1.rna.myeloid"},"IPICRC024.T1.rna.tcell":{"tube_name":"IPICRC024.T1.rna.tcell"},"IPICRC024.T1.rna.tpost":{"tube_name":"IPICRC024.T1.rna.tpost"},"IPICRC024.T1.rna.tpost2":{"tube_name":"IPICRC024.T1.rna.tpost2"},"IPICRC024.T1.rna.tpost3":{"tube_name":"IPICRC024.T1.rna.tpost3"},"IPICRC024.T1.rna.tpre":{"tube_name":"IPICRC024.T1.rna.tpre"},"IPICRC024.T1.rna.tpre2":{"tube_name":"IPICRC024.T1.rna.tpre2"},"IPICRC024.T1.rna.tumor":{"tube_name":"IPICRC024.T1.rna.tumor"},"IPICRC024.T1.rna.tumor2":{"tube_name":"IPICRC024.T1.rna.tumor2"},"IPICRC028.N1.rna.live":{"tube_name":"IPICRC028.N1.rna.live"},"IPICRC028.T1.rna.live":{"tube_name":"IPICRC028.T1.rna.live"},"IPICRC028.T1.rna.live2":{"tube_name":"IPICRC028.T1.rna.live2"},"IPICRC028.T1.rna.stroma":{"tube_name":"IPICRC028.T1.rna.stroma"},"IPICRC028.T1.rna.tcell":{"tube_name":"IPICRC028.T1.rna.tcell"},"IPICRC028.T1.rna.tumor":{"tube_name":"IPICRC028.T1.rna.tumor"},"IPICRC029.N1.rna.live":{"tube_name":"IPICRC029.N1.rna.live"},"IPICRC029.N1.rna.myeloid":{"tube_name":"IPICRC029.N1.rna.myeloid"},"IPICRC029.N1.rna.tcell":{"tube_name":"IPICRC029.N1.rna.tcell"},"IPICRC029.N1.rna.tcell2":{"tube_name":"IPICRC029.N1.rna.tcell2"},"IPICRC029.N1.rna.treg":{"tube_name":"IPICRC029.N1.rna.treg"},"IPICRC029.T1.rna.live":{"tube_name":"IPICRC029.T1.rna.live"},"IPICRC029.T1.rna.tcell":{"tube_name":"IPICRC029.T1.rna.tcell"},"IPICRC029.T1.rna.treg":{"tube_name":"IPICRC029.T1.rna.treg"},"IPICRC029.T1.rna.tumor":{"tube_name":"IPICRC029.T1.rna.tumor"},"IPICRC032.N1.rna.live":{"tube_name":"IPICRC032.N1.rna.live"},"IPICRC032.N1.rna.myeloid":{"tube_name":"IPICRC032.N1.rna.myeloid"},"IPICRC032.N1.rna.myeloid2":{"tube_name":"IPICRC032.N1.rna.myeloid2"},"IPICRC032.N1.rna.stroma":{"tube_name":"IPICRC032.N1.rna.stroma"},"IPICRC032.N1.rna.stroma2":{"tube_name":"IPICRC032.N1.rna.stroma2"},"IPICRC032.N1.rna.tcell":{"tube_name":"IPICRC032.N1.rna.tcell"},"IPICRC032.N1.rna.tcell2":{"tube_name":"IPICRC032.N1.rna.tcell2"},"IPICRC032.N1.rna.treg":{"tube_name":"IPICRC032.N1.rna.treg"},"IPICRC032.N1.rna.treg2":{"tube_name":"IPICRC032.N1.rna.treg2"},"IPICRC032.T1.rna.live":{"tube_name":"IPICRC032.T1.rna.live"},"IPICRC032.T1.rna.myeloid":{"tube_name":"IPICRC032.T1.rna.myeloid"},"IPICRC032.T1.rna.myeloid2":{"tube_name":"IPICRC032.T1.rna.myeloid2"},"IPICRC032.T1.rna.tcell":{"tube_name":"IPICRC032.T1.rna.tcell"},"IPICRC032.T1.rna.tcell2":{"tube_name":"IPICRC032.T1.rna.tcell2"},"IPICRC032.T1.rna.treg":{"tube_name":"IPICRC032.T1.rna.treg"},"IPICRC035.T1.rna.live":{"tube_name":"IPICRC035.T1.rna.live"},"IPICRC035.T1.rna.myeloid":{"tube_name":"IPICRC035.T1.rna.myeloid"},"IPICRC035.T1.rna.stroma":{"tube_name":"IPICRC035.T1.rna.stroma"},"IPICRC035.T1.rna.tcell":{"tube_name":"IPICRC035.T1.rna.tcell"},"IPICRC035.T1.rna.treg":{"tube_name":"IPICRC035.T1.rna.treg"},"IPICRC035.T1.rna.tumor":{"tube_name":"IPICRC035.T1.rna.tumor"},"IPICRC035.T1.rna.tumor2":{"tube_name":"IPICRC035.T1.rna.tumor2"},"IPICRC037.T1.rna.live":{"tube_name":"IPICRC037.T1.rna.live"},"IPICRC037.T1.rna.myeloid":{"tube_name":"IPICRC037.T1.rna.myeloid"},"IPICRC037.T1.rna.stroma":{"tube_name":"IPICRC037.T1.rna.stroma"},"IPICRC037.T1.rna.tcell":{"tube_name":"IPICRC037.T1.rna.tcell"},"IPICRC037.T1.rna.treg":{"tube_name":"IPICRC037.T1.rna.treg"},"IPICRC037.T1.rna.tumor":{"tube_name":"IPICRC037.T1.rna.tumor"},"IPICRC039.T1.rna.live":{"tube_name":"IPICRC039.T1.rna.live"},"IPICRC039.T1.rna.myeloid":{"tube_name":"IPICRC039.T1.rna.myeloid"},"IPICRC039.T1.rna.stroma":{"tube_name":"IPICRC039.T1.rna.stroma"},"IPICRC039.T1.rna.tcell":{"tube_name":"IPICRC039.T1.rna.tcell"},"IPICRC039.T1.rna.treg":{"tube_name":"IPICRC039.T1.rna.treg"},"IPICRC039.T1.rna.tumor":{"tube_name":"IPICRC039.T1.rna.tumor"},"IPICRC040.T1.rna.epcam":{"tube_name":"IPICRC040.T1.rna.epcam"},"IPICRC040.T1.rna.live":{"tube_name":"IPICRC040.T1.rna.live"},"IPICRC040.T1.rna.myeloid":{"tube_name":"IPICRC040.T1.rna.myeloid"},"IPICRC040.T1.rna.stroma":{"tube_name":"IPICRC040.T1.rna.stroma"},"IPICRC040.T1.rna.stroma2":{"tube_name":"IPICRC040.T1.rna.stroma2"},"IPICRC040.T1.rna.tcell":{"tube_name":"IPICRC040.T1.rna.tcell"},"IPICRC040.T1.rna.treg":{"tube_name":"IPICRC040.T1.rna.treg"},"IPICRC040.T1.rna.tumor":{"tube_name":"IPICRC040.T1.rna.tumor"},"IPICRC040.T2.rna.live":{"tube_name":"IPICRC040.T2.rna.live"},"IPICRC040.T2.rna.tcell":{"tube_name":"IPICRC040.T2.rna.tcell"},"IPICRC040.T2.rna.tcell2":{"tube_name":"IPICRC040.T2.rna.tcell2"},"IPICRC040.T2.rna.tumor":{"tube_name":"IPICRC040.T2.rna.tumor"},"IPICRC041.T2.rna.live":{"tube_name":"IPICRC041.T2.rna.live"},"IPICRC041.T2.rna.myeloid":{"tube_name":"IPICRC041.T2.rna.myeloid"},"IPICRC041.T2.rna.stroma":{"tube_name":"IPICRC041.T2.rna.stroma"},"IPICRC041.T2.rna.tcell":{"tube_name":"IPICRC041.T2.rna.tcell"},"IPICRC041.T2.rna.treg":{"tube_name":"IPICRC041.T2.rna.treg"},"IPICRC041.T2.rna.tumor":{"tube_name":"IPICRC041.T2.rna.tumor"},"IPICRC041.T3.rna.live":{"tube_name":"IPICRC041.T3.rna.live"},"IPICRC041.T3.rna.myeloid":{"tube_name":"IPICRC041.T3.rna.myeloid"},"IPICRC041.T3.rna.tcell":{"tube_name":"IPICRC041.T3.rna.tcell"},"IPICRC041.T3.rna.treg":{"tube_name":"IPICRC041.T3.rna.treg"},"IPICRC042.T1.rna.live":{"tube_name":"IPICRC042.T1.rna.live"},"IPICRC042.T1.rna.stroma":{"tube_name":"IPICRC042.T1.rna.stroma"},"IPICRC042.T1.rna.tcell":{"tube_name":"IPICRC042.T1.rna.tcell"},"IPICRC042.T1.rna.tumor":{"tube_name":"IPICRC042.T1.rna.tumor"},"IPICRC044.T1.rna.live":{"tube_name":"IPICRC044.T1.rna.live"},"IPICRC045.T1.rna.live":{"tube_name":"IPICRC045.T1.rna.live"},"IPICRC045.T1.rna.tumor":{"tube_name":"IPICRC045.T1.rna.tumor"},"IPICRC046.T1.rna.live":{"tube_name":"IPICRC046.T1.rna.live"},"IPICRC046.T1.rna.stroma":{"tube_name":"IPICRC046.T1.rna.stroma"},"IPICRC046.T1.rna.tumor":{"tube_name":"IPICRC046.T1.rna.tumor"}},"count":4048}}}'
    headers:
      Content-Type:
      - application/json
      Service-Worker-Allowed:
      - /
    status:
      code: 200
      message: OK
- request:
    body: '{"project_name": "ipi", "model_name": "rna_seq", "attribute_names": ["tube_name"],
      "hide_templates": true, "record_names": "all", "page": 2, "page_size": 300}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXX-Auth
    method: POST
    uri: https://magma.ucsf.edu/retrieve
  response:
    body:
      string: '{"models":{"rna_seq":{"documents":{"IPICRC047.N2.rna.myeloid":{"tube_name":"IPICRC047.N2.rna.myeloid"},"IPICRC047.N2.rna.tcell":{"tube_name":"IPICRC047.N2.rna.tcell"},"IPICRC047.T2.rna.live":{"tube_name":"IPICRC047.T2.rna.live"},"IPICRC047.T2.rna.tumor":{"tube_name":"IPICRC047.T2.rna.tumor"},"IPICRC048.T1.rna.live":{"tube_name":"IPICRC048.T1.rna.live"},"IPICRC048.T1.rna.myeloid":{"tube_name":"IPICRC048.T1.rna.myeloid"},"IPICRC048.T1.rna.stroma":{"tube_name":"IPICRC048.T1.rna.stroma"},"IPICRC048.T1.rna.tcell":{"tube_name":"IPICRC048.T1.rna.tcell"},"IPICRC048.T1.rna.treg":{"tube_name":"IPICRC048.T1.rna.treg"},"IPICRC048.T1.rna.tumor":{"tube_name":"IPICRC048.T1.rna.tumor"},"IPICRC049.N1.rna.live":{"tube_name":"IPICRC049.N1.rna.live"},"IPICRC049.N1.rna.tcell":{"tube_name":"IPICRC049.N1.rna.tcell"},"IPICRC049.T1.rna.myeloid":{"tube_name":"IPICRC049.T1.rna.myeloid"},"IPICRC049.T1.rna.stroma":{"tube_name":"IPICRC049.T1.rna.stroma"},"IPICRC049.T1.rna.tcell":{"tube_name":"IPICRC049.T1.rna.tcell"},"IPICRC050.T1.rna.live":{"tube_name":"IPICRC050.T1.rna.live"},"IPICRC050.T1.rna.tcell":{"tube_name":"IPICRC050.T1.rna.tcell"},"IPICRC050.T1.rna.tumor":{"tube_name":"IPICRC050.T1.rna.tumor"},"IPICRC051.T1.rna.live":{"tube_name":"IPICRC051.T1.rna.live"},"IPICRC051.T1.rna.tcell":{"tube_name":"IPICRC051.T1.rna.tcell"},"IPICRC051.T1.rna.tumor":{"tube_name":"IPICRC051.T1.rna.tumor"},"IPICRC052.T2.rna.live":{"tube_name":"IPICRC052.T2.rna.live"},"IPICRC052.T2.rna.myeloid":{"tube_name":"IPICRC052.T2.rna.myeloid"},"IPICRC052.T2.rna.tcell":{"tube_name":"IPICRC052.T2.rna.tcell"},"IPICRC052.T2.rna.tumor":{"tube_name":"IPICRC052.T2.rna.tumor"},"IPICRC053.T1.rna.live":{"tube_name":"IPICRC053.T1.rna.live"},"IPICRC053.T1.rna.myeloid":{"tube_name":"IPICRC053.T1.rna.myeloid"},"IPICRC053.T1.rna.stroma":{"tube_name":"IPICRC053.T1.rna.stroma"},"IPICRC053.T1.rna.tcell":{"tube_name":"IPICRC053.T1.rna.tcell"},"IPICRC053.T1.rna.treg":{"tube_name":"IPICRC053.T1.rna.treg"},"IPICRC053.T1.rna.tumor":{"tube_name":"IPICRC053.T1.rna.tumor"},"IPICRC054.T1.rna.live":{"tube_name":"IPICRC054.T1.rna.live"},"IPICRC054.T1.rna.myeloid":{"tube_name":"IPICRC054.T1.rna.myeloid"},"IPICRC054.T1.rna.tcell":{"tube_name":"IPICRC054.T1.rna.tcell"},"IPICRC054.T1.rna.tumor":{"tube_name":"IPICRC054.T1.rna.tumor"},"IPICRC055.T1.rna.live":{"tube_name":"IPICRC055.T1.rna.live"},"IPICRC055.T1.rna.myeloid":{"tube_name":"IPICRC055.T1.rna.myeloid"},"IPICRC055.T1.rna.stroma":{"tube_name":"IPICRC055.T1.rna.stroma"},"IPICRC055.T1.rna.tcell":{"tube_name":"IPICRC055.T1.rna.tcell"},"IPICRC055.T1.rna.treg":{"tube_name":"IPICRC055.T1.rna.treg"},"IPICRC055.T1.rna.tumor":{"tube_name":"IPICRC055.T1.rna.tumor"},"IPICRC057.N1.rna.live":{"tube_name":"IPICRC057.N1.rna.live"},"IPICRC057.N1.rna.myeloid":{"tube_name":"IPICRC057.N1.rna.myeloid"},"IPICRC057.N1.rna.tcell":{"tube_name":"IPICRC057.N1.rna.tcell"},"IPICRC057.N1.rna.tumor":{"tube_name":"IPICRC057.N1.rna.tumor"},"IPICRC057.T1.rna.live":{"tube_name":"IPICRC057.T1.rna.live"},"IPICRC058.N1.rna.live":{"tube_name":"IPICRC058.N1.rna.live"},"IPICRC058.N1.rna.myeloid":{"tube_name":"IPICRC058.N1.rna.myeloid"},"IPICRC058.N1.rna.tcell":{"tube_name":"IPICRC058.N1.rna.tcell"},"IPICRC058.N1.rna.tumor":{"tube_name":"IPICRC058.N1.rna.tumor"},"IPICRC058.T1.rna.live":{"tube_name":"IPICRC058.T1.rna.live"},"IPICRC058.T1.rna.myeloid":{"tube_name":"IPICRC058.T1.rna.myeloid"},"IPICRC058.T1.rna.tcell":{"tube_name":"IPICRC058.T1.rna.tcell"},"IPICRC058.T1.rna.treg":{"tube_name":"IPICRC058.T1.rna.treg"},"IPICRC058.T1.rna.tumor":{"tube_name":"IPICRC058.T1.rna.tumor"},"IPICRC060.N1.rna.live":{"tube_name":"IPICRC060.N1.rna.live"},"IPICRC060.T1.rna.live":{"tube_name":"IPICRC060.T1.rna.live"},"IPICRC060.T1.rna.myeloid":{"tube_name":"IPICRC060.T1.rna.myeloid"},"IPICRC060.T1.rna.tumor":{"tube_name":"IPICRC060.T1.rna.tumor"},"IPICRC061.T1.rna.epcam":{"tube_name":"IPICRC061.T1.rna.epcam"},"IPICRC061.T2.rna.epcam":{"tube_name":"IPICRC061.T2.rna.epcam"},"IPICRC061.T2.rna.live":{"tube_name":"IPICRC061.T2.rna.live"},"IPICRC061.T2.rna.myeloid":{"tube_name":"IPICRC061.T2.rna.myeloid"},"IPICRC061.T2.rna.tcell":{"tube_name":"IPICRC061.T2.rna.tcell"},"IPICRC061.T2.rna.treg":{"tube_name":"IPICRC061.T2.rna.treg"},"IPICRC062.T1.rna.epcam":{"tube_name":"IPICRC062.T1.rna.epcam"},"IPICRC062.T1.rna.live":{"tube_name":"IPICRC062.T1.rna.live"},"IPICRC062.T1.rna.myeloid":{"tube_name":"IPICRC062.T1.rna.myeloid"},"IPICRC062.T1.rna.tcell":{"tube_name":"IPICRC062.T1.rna.tcell"},"IPICRC062.T1.rna.treg":{"tube_name":"IPICRC062.T1.rna.treg"},"IPICRC063.T1.rna.live":{"tube_name":"IPICRC063.T1.rna.live"},"IPICRC063.T1.rna.myeloid":{"tube_name":"IPICRC063.T1.rna.myeloid"},"IPICRC063.T1.rna.stroma":{"tube_name":"IPICRC063.T1.rna.stroma"},"IPICRC063.T1.rna.tcell":{"tube_name":"IPICRC063.T1.rna.tcell"},"IPICRC063.T1.rna.treg":{"tube_name":"IPICRC063.T1.rna.treg"},"IPICRC063.T1.rna.tumor":{"tube_name":"IPICRC063.T1.rna.tumor"},"IPICRC064.T1.rna.epcam":{"tube_name":"IPICRC064.T1.rna.epcam"},"IPICRC064.T1.rna.live":{"tube_name":"IPICRC064.T1.rna.live"},"IPICRC064.T1.rna.myeloid":{"tube_name":"IPICRC064.T1.rna.myeloid"},"IPICRC064.T1.rna.tcell":{"tube_name":"IPICRC064.T1.rna.tcell"},"IPICRC064.T1.rna.treg":{"tube_name":"IPICRC064.T1.rna.treg"},"IPICRC066.T2.rna.live":{"tube_name":"IPICRC066.T2.rna.live"},"IPICRC066.T2.rna.tcell":{"tube_name":"IPICRC066.T2.rna.tcell"},"IPICRC067.T1.rna.epcam":{"tube_name":"IPICRC067.T1.rna.epcam"},"IPICRC067.T1.rna.live":{"tube_name":"IPICRC067.T1.rna.live"},"IPICRC067.T1.rna.myeloid":{"tube_name":"IPICRC067.T1.rna.myeloid"},"IPICRC067.T1.rna.stroma":{"tube_name":"IPICRC067.T1.rna.stroma"},"IPICRC067.T1.rna.tcell":{"tube_name":"IPICRC067.T1.rna.tcell"},"IPICRC067.T1.rna.treg":{"tube_name":"IPICRC067.T1.rna.treg"},"IPICRC070.T1.rna.epcam":{"tube_name":"IPICRC070.T1.rna.epcam"},"IPICRC070.T1.rna.live":{"tube_name":"IPICRC070.T1.rna.live"},"IPICRC070.T1.rna.myeloid":{"tube_name":"IPICRC070.T1.rna.myeloid"},"IPICRC070.T1.rna.stroma":{"tube_name":"IPICRC070.T1.rna.stroma"},"IPICRC070.T1.rna.tcell":{"tube_name":"IPICRC070.T1.rna.tcell"},"IPICRC070.T1.rna.treg":{"tube_name":"IPICRC070.T1.rna.treg"},"IPICRC071.T2.rna.live":{"tube_name":"IPICRC071.T2.rna.live"},"IPICRC071.T2.rna.stroma":{"tube_name":"IPICRC071.T2.rna.stroma"},"IPICRC071.T2.rna.tcell":{"tube_name":"IPICRC071.T2.rna.tcell"},"IPICRC071.T2.rna.tumor":{"tube_name":"IPICRC071.T2.rna.tumor"},"IPICRC072.N1.rna.epcam":{"tube_name":"IPICRC072.N1.rna.epcam"},"IPICRC072.N1.rna.live":{"tube_name":"IPICRC072.N1.rna.live"},"IPICRC072.N1.rna.stroma":{"tube_name":"IPICRC072.N1.rna.stroma"},"IPICRC072.N1.rna.tcell":{"tube_name":"IPICRC072.N1.rna.tcell"},"IPICRC072.T1.rna.epcam":{"tube_name":"IPICRC072.T1.rna.epcam"},"IPICRC072.T1.rna.live":{"tube_name":"IPICRC072.T1.rna.live"},"IPICRC072.T1.rna.myeloid":{"tube_name":"IPICRC072.T1.rna.myeloid"},"IPICRC072.T1.rna.stroma":{"tube_name":"IPICRC072.T1.rna.stroma"},"IPICRC072.T1.rna.tcell":{"tube_name":"IPICRC072.T1.rna.tcell"},"IPICRC072.T1.rna.treg":{"tube_name":"IPICRC072.T1.rna.treg"},"IPICRC073.T1.rna.epcam":{"tube_name":"IPICRC073.T1.rna.epcam"},"IPICRC073.T1.rna.live":{"tube_name":"IPICRC073.T1.rna.live"},"IPICRC073.T1.rna.myeloid":{"tube_name":"IPICRC073.T1.rna.myeloid"},"IPICRC073.T1.rna.stroma":{"tube_name":"IPICRC073.T1.rna.stroma"},"IPICRC073.T1.rna.tcell":{"tube_name":"IPICRC073.T1.rna.tcell"},"IPICRC073.T1.rna.treg":{"tube_name":"IPICRC073.T1.rna.treg"},"IPICRC074.N1.rna.live":{"tube_name":"IPICRC074.N1.rna.live"},"IPICRC074.N1.rna.myeloid":{"tube_name":"IPICRC074.N1.rna.myeloid"},"IPICRC074.N1.rna.tcell":{"tube_name":"IPICRC074.N1.rna.tcell"},"IPICRC074.N1.rna.treg":{"tube_name":"IPICRC074.N1.rna.treg"},"IPICRC074.T1.rna.epcam":{"tube_name":"IPICRC074.T1.rna.epcam"},"IPICRC074.T1.rna.live":{"tube_name":"IPICRC074.T1.rna.live"},"IPICRC074.T1.rna.myeloid":{"tube_name":"IPICRC074.T1.rna.myeloid"},"IPICRC074.T1.rna.tcell":{"tube_name":"IPICRC074.T1.rna.tc
[...]
