interactions:
- request:
    body: '{"token_type": "task", "project_name": "mvir1", "read_only": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXX-Auth
    method: POST
    uri: https://janus.ucsf.edu/api/tokens/generate
  response:
    body:
      string: eyJhbGciOiJSUzI1NiJ9.eyJlbWFpbCI6InphY2hhcnkuY29sbGluc0B1Y3NmLmVkdSIsIm5hbWUiOiJaYWNoYXJ5IENvbGxpbnMiLCJwZXJtIjoiZTptdmlyMSIsImZsYWdzIjoiaW5nZXN0O3Z1bGNhbjt0aW11cmFkdmFuY2VkIiwiZXhwIjoxNjQ0NTQzODQ2LCJ0YXNrIjp0cnVlfQ.jkQYEsub3FRb6eihj07sQegjuWezdhQtLqNqjhuKv04vRJgtLG85RlblDExWiMHkd0rTKBtjomUTrvn4M-golj9PZtivyZx9RdcusJNGFBISpTLbSPHftTwZZiQMMDwFKuM0M0frJaF-7gAbTb7WPq3w-3vxRjBYB57sqrDzbDkzjv61POOahiHxmpIlIvL0o3jqByE_3-5GO3Qf8rRPvZeK8izYJV-AXi6eiGrzALJ8eTXYk-OME4TcRZI6csp60fYLPSb3Wue5lZ3uRebvqyE8tJ7yD5E__IuiS5eGYnzRmeq4yztZzYS-gh8TCy22s7jI90K2JzV4mVIu_l-3iGVKnRf5bbvutsTkaGf3NIcrsumCTZr6ZRYavzl3GdgWRhRBTKsx16OAp1LP3xZ8OM1Zb21m_Gbgh7ZDOMmnp2oLCU_o8g8n-sAq9gWC5j2ru6lkjK11llqGCI5TsXO2u4yp5BkzPc1kPitOVFUrGOs1Xf2mrHkS3xRLlMv4Pt3zUUm7PLEOEsmEPZqlYGif0kFTaEIa7g3y8owF3K79kQLdzSpnhYFdc_mZpHv0loONV1wlrkd7wJxOP_Puz9uhR-H0BbM-54NfO1C1n8vwH-aSy3mjE_wUJ0sg_D5s5QCNfYK6F7JTkUQ7lfbPR1lehd0wZlh1T_z-1RvhpbpuFJQ
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Service-Worker-Allowed:
      - /
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - XXX-Auth
    method: GET
    uri: https://metis.ucsf.edu/mvir1/list/data
  response:
    body:
      string: '{"files":[],"folders":[{"folder_name":"bulk_RNASeq","bucket_name":"data","folder_path":"bulk_RNASeq","project_name":"mvir1","read_only":false,"updated_at":"2020-09-03T02:59:24+00:00","created_at":"2020-09-03T02:59:24+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":50423},{"folder_name":"cytof","bucket_name":"data","folder_path":"cytof","project_name":"mvir1","read_only":false,"updated_at":"2020-07-08T16:20:12+00:00","created_at":"2020-07-08T16:20:12+00:00","author":"leonard.lupin-jimenez@ucsf.edu|Leonard
        Lupin-Jimenez","id":47628},{"folder_name":"cytokine","bucket_name":"data","folder_path":"cytokine","project_name":"mvir1","read_only":false,"updated_at":"2020-07-29T15:26:29+00:00","created_at":"2020-07-29T15:26:29+00:00","author":"gabriela.fragia[...]
- request:
    body: null
    headers:
      authorization:
      - XXX-Auth
    method: GET
    uri: https://metis.ucsf.edu/mvir1/list/data/bulk_RNASeq
  response:
    body:
      string: '{"files":[],"folders":[{"folder_name":"metadata","bucket_name":"data","folder_path":"bulk_RNASeq/metadata","project_name":"mvir1","read_only":false,"updated_at":"2021-06-04T23:31:36+00:00","created_at":"2021-06-04T23:31:36+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":100498},{"folder_name":"processed","bucket_name":"data","folder_path":"bulk_RNASeq/processed","project_name":"mvir1","read_only":false,"updated_at":"2020-09-03T02:59:43+00:00","created_at":"2020-09-03T02:59:43+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":50425},{"folder_name":"raw","bucket_name":"data","folder_path":"bulk_RNASeq/raw","project_name":"mvir1","read_only":false,"updated_at":"2020-09-03T02:59:27+00:00","created_at":"2020-09-03T02:59:27+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":50424}]}'
    headers:
      Content-Type:
      - application/json
      Service-Worker-Allowed:
      - /
    status:
      code: 200
      message: OK
version: 1
