
version: '3.4'

networks:
  edge_net:
    ipam:
      driver: default
      config:
        - subnet: '172.16.238.0/24'
        - subnet: '2001:3984:3989::/64'

services:
  edge-apache-bash:
    &base-edge-apache
    image: etna-apache
    volumes:
      - ../development-certs/certs:/root/certs
      - ./development-edge-httpd.conf:/usr/opt/httpd.conf.d/main.conf
    networks:
      edge_net:
      default:

  edge-apache:
    <<: *base-edge-apache
    ports:
      - '443:443'
      - '80:80'
    networks:
      edge_net:
        ipv4_address: 172.16.238.10
        ipv6_address: 2001:3984:3989::10
      default:
