<!DOCTYPE html>
<meta charset='utf-8'/>
<html>
  <head>
    <title>
      <%= Vulcan.instance.environment == :development ? "Dev Vulcan" : "Vulcan" %>
    </title>
    <link rel='stylesheet' media='screen' href='/css/vulcan.bundle.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type='text/javascript'>
      // All these Routes are mocked for development only.
      const ROUTES = Object.assign(
        window.ROUTES || {},
        {
          workflow: (workflow_name) => (`/workflow/${workflow_name}`),
          workflow_vignette: (workflow_name) => (`/workflow/${workflow_name}/vignette`),
          fetch_workflows: () => (`/api/workflows`),
          submit: (project_name, workflow_name) => (`/api/${project_name}/session/${workflow_name}`),
          status: (project_name, workflow_name) => (`/api/${project_name}/session/${workflow_name}/status`),
          create_session: (project_name, workflow_name) => (`/api/${project_name}/session/${workflow_name}/create`),
        }
      );
    </script>
    <script src='/js/vulcan.bundle.js'></script>
  </head>
  <body>
    <div id='root'></div>
    <script type='text/javascript'>
      var CONFIG = <%= config_json %>;
      const vulcan = new VulcanApp(
        {
          environment: '<%= Vulcan.instance.environment %>'
        },
        'root'
      );
    </script>
  </body>
</html>
