<!DOCTYPE html>
<meta charset='utf-8'/>
<html>
  <head>
    <title>
      <%= Vulcan.instance.environment == :development ? 'Dev Vulcan' : 'Vulcan' %>
    </title>
  </head>
  <body>
    <div id='container'>You are unauthorized.</div>
  </body>
</html>
