<!DOCTYPE html>
<html>
  <head>
    <title><%= Metis.instance.environment == :development ? 'Dev ' : '' %>Metis File Browser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type='text/css' rel='stylesheet' href='/css/metis.bundle.css' />
    <link rel="shortcut icon" href="/images/metis.svg" type="image/x-icon" />
  </head>
  <body>
    <div id='ui-group'></div>
    <script type='text/javascript'>
      var CONFIG = <%= config_json %>;
    </script>
    <script type='text/javascript' src='/js/metis-main.bundle.js'></script>
  </body>
</html>
