.DS_Store
npm-debug.log
trash.rb
package-lock.json

config.yml
public/
/node_modules/
/lib/client/js/
/lib/client/img/
/lib/client/fonts/
/tmp
/log
/source
/coverage
spec/examples.txt

*.eot
*.ttf
*.woff
*.woff2
*.swp
