:development:
  :magma:
    :host: https://magma.development.local
  :metis:
    :host: https://metis.development.local
    :release_bucket: this_is_releasable
    :restrict_bucket: dont_show_anyone
  :mvir1:
    :token: my-token # create a long lived token with janus

:test:
  :magma:
    :host: https://magma.test
  :metis:
    :host: https://metis.test
    :release_bucket: this_is_releasable
    :restrict_bucket: dont_show_anyone
  :mvir1:
    :token: mvir1-token
