
version: "3.4"

x-base-etna-service:
  &base-etna-service # Base configuration used by most etna services.
  image: etna-base-dev
  volumes: &base-etna-service-volumes
    - metis-node-modules:/app/node_modules
    - .:/app:delegated
    - app-gems:/app/vendor/bundle:rw
    - log-dir:/app/log:rw
    - tmp-dir:/app/tmp:rw
    - public-dir:/app/public:rw
    - data-dir:/app/data:rw
    - opt-dir:/usr/opt:rw
    - ../etna:/etna:delegated
  environment: &base-etna-env
    'METIS_ENV': 'development'
    APP_NAME: 'metis'
  entrypoint: /entrypoints/development.sh

  networks:
    default:
    edge_net:
  extra_hosts:
    - 'metis.development.local:172.16.238.10'
    - 'magma.development.local:172.16.238.10'
    - 'janus.development.local:172.16.238.10'
    - 'timur.development.local:172.16.238.10'
    - 'rtemis.development.local:172.16.238.10'
    - 'archimedes.development.local:172.16.238.10'
    - 'polyphemus.development.local:172.16.238.10'

x-base-etna-services:
  &base-etna-services # Default list of services an etna app may have.
  'metis_app': &base-etna-app # The ruby webserver
    <<: *base-etna-service
    command: ./bin/puma.sh
    environment:
      <<: *base-etna-env
      WAIT_FOR_DB: 1
    depends_on:
      - 'metis_db'

  'metis_webpack':
    &base-etna-webpack # The ruby webpack server watching for changes
    <<: *base-etna-service
    command: npm run webpack

  'metis_db':
    &base-etna-db # The application specific database.  Overwrite with development-psql-9 to use psql 9 instead.
    image: development-psql
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: 'metis_development'
      POSTGRES_PASSWORD: password
      POSTGRES_USER: developer
      APP_NAME: 'metis'
    container_name: 'metis_db_1'

  'metis_app_fe':
    &base-etna-fe # The application level apache frontend serving static assets, data, and proxying the main app.
    image: etna-apache
    entrypoint: /entrypoints/development_app_fe.sh
    volumes:
      - public-dir:/app/public:ro
      - ./data:/app/data:delegated
    depends_on:
      - 'metis_app'
    command: ['httpd', '-DFOREGROUND']
    environment:
      APP_NAME: 'metis'

services:
  <<: *base-etna-services

networks:
  edge_net:
    ipam:
      driver: default
      config:
        - subnet: '172.16.238.0/24'
        - subnet: '2001:3984:3989::/64'

volumes:
  app-gems:
    driver: local
  log-dir:
    driver: local
    name: "log-dir"
  tmp-dir:
    driver: local
    name: "tmp-dir"
  public-dir:
    driver: local
    name: "public-dir"
  data-dir:
    driver: local
    name: "data-dir"
  db-data:
    driver: local
    name: "db-data"
  opt-dir:
    driver: local
  metis-node-modules:
    driver: local