#list-body-group {

  height: 100%;
  margin-top: 10px;
}

.list-entry-group {

  position: relative;
  min-height: 40px;
  padding-left: 5px;
  margin-top: -1px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.list-entry-icon {

  vertical-align: top;
  height: 60px;
  font-size: 2.9em;
}

.list-entry-title-group,
.list-entry-project-group {

  padding-top: 8px;
  vertical-align: top;
  height: 60px;
  margin-left: 10px;
}

.list-entry-file-name,
.list-entry-project-name,
.list-entry-file-size {

  font-family: 'gotham_boldregular';
  font-size: 1em;
  height: 18px;
  border: 1px solid #fff;
  width: 160px;
}

.list-entry-file-name-input {

  margin-top: 2px;
}

.list-entry-project-name {

  width: 100%;
}

.list-entry-file-size {

  font-family: 'gotham_bookregular';
}

.list-entry-file-name:focus {

  outline: none;
}

.list-edit-mode-btn-group {

  float: right;
  margin-right: 10px;
}

.list-entry-edit-btn,
.list-entry-edit-btn:focus {

  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: none;
  color: #666;
}

.list-entry-edit-btn:hover {

  color: #000;
}

.list-entry-status,
.list-entry-role {

  margin-top: 4px;
}

#list-empty-group {

  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'gotham_bookregular';
  font-size: 1.8em;
  height: 18px;
}

.list-project-permission-field {

  margin-top:3px;
}

.list-project-field {

  font-family: 'gotham_boldregular';
}

/* Specific Search Dropdown CSS ***********************************************/

.list-project-search-dd-group {

  position: relative;
  width: 325px;
  margin-top: 1px;
}

/* BUTTON */
.list-project-search-dd-btn {

  position: absolute;
  top: 3px;
  right: 1px;
  height: 14px;
  width: 18px;
  outline: none;
  padding: 0px;
  border: 0px;
  outline: 0px;
  background: #fff;
  border-left: 1px solid #999;
}

/* TRAY */
.list-project-search-dd-tray {

  position: absolute;
  top: 21px;
  left: 0px;
  width: 100%;
  padding: 5px;

  border: 1px solid #24a684;
  background: #fff;
}

/* SPECIFIC OVERRIDES, see global.css */
.search-dropdown-input {

  font-size: 1em;
  height: 18px;
}

.search-dropdown-input-inactive {

  margin-left: 1px;
}
/******************************************************************************/