#list-body-group {

  height: 100%;
  margin-top: 10px;
}

.list-entry-group {

  position: relative;
  min-height: 40px;
  padding-left: 5px;
  margin-top: -1px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.list-entry-icon {

  vertical-align: top;
  height: 60px;
  font-size: 2.9em;
}

.list-entry-title-group,
.list-entry-project-group {

  vertical-align: top;
  height: 60px;
  margin-left: 10px;
}

.list-entry-file-name {

  margin-top: 10px;
  font-family: 'gotham_boldregular';
  font-size: 1em;
  height: 18px;
  border: 1px solid #fff;
  width: 160px;
}

.list-entry-file-name:focus {

  outline: none;
}

.list-entry-edit-btn,
.list-entry-edit-btn:focus {

  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: none;
  color: #666;
}

.list-entry-edit-btn:hover {

  color: #000;
}

.list-entry-status {

  margin-top: 4px;
}

#list-empty-group {

  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'gotham_bookregular';
  font-size: 1.8em;
  height: 18px;
}

.project-permission-field{

  margin-top:5px;
}

.project-search-group {

  margin-top: 10px;
  font-family: 'gotham_boldregular';
  font-size: 1em;
  height: 18px;
  border: 1px solid #999;
  width: 150px;
}

.project-search-input {

  float: left;
  width: 130px;
  height: 18px;
  margin-top: -1px;
  border: none;
  outline: none;
  background: none;
}

.project-dropdown-button {

  display: inline-block;
  margin-top: 1px;
  width: 18px;
  height: 14px;
  outline: none;
  border: none;
  background: none;
  border-left: 1px solid #999;
}

.project-dropdown-button span {

  top: -2px;
  left: -4px;
}

.project-dropdown-tray {

  margin-top: -7px;
  border: 1px solid #999;
  position: relative;
  background: #fff;
  width: 150px;
  margin-left: -1px;
}

.project-tray-entry {

  padding: 5px;
  font-family: 'gotham_bookregular';
  cursor: pointer;
}

.project-tray-entry:hover {

  background: #a9d58e;
  text-decoration: none;
  color: #333;
}