.upload-control-group {

  height: 100%;
  width: 115px;
  vertical-align: top;
}

.upload-control-btn {

  width: 26px;
  height: 26px;
  border: none;
  background: none;
  font-size: 1.4em;
  color: #666;
  margin-top: 4px;
  margin-left: 4px;
}

.upload-control-btn:focus {
    
  outline:none;
}

.upload-control-btn:hover {
    
  color: #000;
}