.DS_Store
npm-debug.log
trash.rb
cron.log

config.yml
public/
/node_modules/*
!/node_modules/.gitkeep
/lib/client/js/
/lib/client/img/
/lib/client/fonts/
/tmp
/log
/source
/coverage
spec/examples.txt
/.bundle
/.idea

*.eot
*.ttf
*.woff
*.woff2
*.swp
.docker-build-mark

spec/data/

downzip-sw.js

.npm-packages
.yarn-packages
.npmrc
thumbnails/
spec/thumbnails/
