<!DOCTYPE html>
<html>

  <head>

    <title>

      Polyphemus Network Manager
    </title>
    <link type='text/css' rel='stylesheet' href='/css/reset.css' />
    <link type='text/css' rel='stylesheet' href='/css/bootstrap.min.css' />
    <link type='text/css' rel='stylesheet' href='/css/fonts.css' />
    <link type='text/css' rel='stylesheet' href='/css/global.css' />
    <link type='text/css' rel='stylesheet' href='/css/media.css' />
    <link rel="icon"  type="image/png"  href="/img/favicon.png">
  </head>
  <body>

    <div id='ui-group'></div>
    <!--<script type='text/javascript' src='/js/libraries/utils.js'></script>-->
    <script type='text/javascript' src='/js/network-utils.bundle.js'></script>
  </body>
</html>

