<!DOCTYPE html>
<html>

  <head>

    <title>

      Metis File Uploader
    </title>
    <link type='text/css' rel='stylesheet' href='/css/reset.css' />
    <link type='text/css' rel='stylesheet' href='/css/bootstrap.min.css' />
    <link type='text/css' rel='stylesheet' href='/css/fonts.css' />
    <link type='text/css' rel='stylesheet' href='/css/global.css' />
    <link type='text/css' rel='stylesheet' href='/css/media.css' />
  </head>
  <body>

    <div id='ui-container'>

      Sup
    </div>
    <script type='text/javascript' src='/js/utils.js'></script>
    <script type='text/javascript' src='/js/main.bundle.js'></script>
  </body>
</html>
