---
:test:
  :metis:
    :host: https://metis.test
  :magma:
    :host: https://magma.test
  :janus:
    :host: https://janus.test

:development:
  :metis:
    :host: https://metis.development.local
  :magma:
    :host: https://magma.development.local
  :janus:
    :host: https://janus.development.local
