.site-header {
  background: url('/assets/images/etna.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 70px;
}

.site-description {
  @include relative-font-size(1.2);
  font-weight: 200;
  color: $grey-color;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  top: 50%;

}
.site-title {
  float: unset;
  margin-top: -13px;
  position: absolute;
  top: 30%;
  line-height: unset;
}

.page-columns {
  display: flex;
}

.page-content {
  flex: 1 1;
}

.nav {
  margin-top: 10px;
  flex-basis: 150px;
  li {
    list-style-type: none;
  }
}
