.etna-nav {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;

}

.etna-logo {
  margin-left: 5px;
}

.etna-timur-logo {
  background: url('~etna-js/images/timur.svg');
}
.etna-metis-logo {
  background: url('~etna-js/images/metis.svg');
}
.etna-janus-logo {
  background: url('~etna-js/images/janus.svg');
}

.etna-links {
  color: gray;
  font-size: 0.5em;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.etna-link {
  width: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  margin: 5px;
  background: white;
}

.etna-link:hover {
  border: 1px solid darkblue;
  width: 32px;
  margin: 4px;
}

.etna-link-box {
}

.etna-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: darkgoldenrod;
  font-family: 'Open Sans', sans-serif;
}

.etna-user {
  padding: 0px;
  color: gray;
  font-size: 1.2em;
}

.etna-links-hide {
  border: 1px solid #ccc;
  padding: 5px 2px;
  border-radius: 2px;
  background: #eee;
}

.etna-links-show {
  border: 1px solid transparent;
  padding: 5px 2px;
  border-radius: 2px;
}

.etna-links-show:hover {
  background: #eee;
  color: #bbb;
}

.etna-links-hide:hover {
  background: #eee;
  color: #bbb;
}
