#user-email-column {

  min-width: 200px;
}

#first-name-column {

  width: 200px;
}

#last-name-column {

  width: 200px;
}

#user-control-column {

  width: 260px;
  padding: 0px;
}

#user-edit-group {

  width: 100%;
}