{
  "http_interactions": [
    {
      "recorded_at": "2021-02-19T21:12:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"project_name\": \"ipi\", \"model_name\": \"sample\", \"record_names\": \"all\", \"attribute_names\": [\"patient\"], \"format\": \"tsv\", \"filter\": \"\"}"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://magma.ucsf.edu/retrieve"
      },
      "response": {
        "body": {
          "encoding": "ISO-8859-1",
          "string": "sample_name\tpatient\nIPIADR001.T1\tIPIADR001\nIPIADR001.T2\tIPIADR001\nIPIADR001.T3\tIPIADR001\nIPIADR002.T1\tIPIADR002\nIPIADR003.N2\tIPIADR003\nIPIADR003.T1\tIPIADR003\nIPIBLAD001.T1\tIPIBLAD001\nIPIBLAD002.N1\tIPIBLAD002\nIPIBLAD002.T1\tIPIBLAD002\nIPIBLAD003.N1\tIPIBLAD003\nIPIBLAD003.T1\tIPIBLAD003\nIPIBLAD004.N1\tIPIBLAD004\nIPIBLAD004.T1\tIPIBLAD004\nIPIBLAD005.N1\tIPIBLAD005\nIPIBLAD005.T1\tIPIBLAD005\nIPIBLAD[...]
