{
  "http_interactions": [
    {
      "recorded_at": "2021-02-19T21:32:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"project_name\": \"example\", \"query\": [\"rna_seq\", \"::all\", \"biospecimen\", \"::identifier\"]}"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://magma.ucsf.edu/query"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"answer\":[[\"EXAMPLE-HS10-WB1-RSQ1\",\"EXAMPLE-HS10-WB1\"],[\"EXAMPLE-HS11-WB1-RSQ1\",\"EXAMPLE-HS11-WB1\"],[\"EXAMPLE-HS12-WB1-RSQ1\",\"EXAMPLE-HS12-WB1\"],[\"EXAMPLE-HS1-WB1-RSQ1\",\"EXAMPLE-HS1-WB1\"],[\"EXAMPLE-HS2-WB1-RSQ1\",\"EXAMPLE-HS2-WB1\"],[\"EXAMPLE-HS3-WB1-RSQ1\",\"EXAMPLE-HS3-WB1\"],[\"EXAMPLE-HS4-WB1-RSQ1\",\"EXAMPLE-HS4-WB1\"],[\"EXAMPLE-HS5-WB1-RSQ1\",\"EXAMPLE-HS5-WB1\"],[\"EXAMPLE-HS6-WB1-RSQ1\",\"EXAMPLE-HS6-WB1\"],[\"EXAMPLE-HS7-WB1-RSQ1\",\"EXAMPLE-HS7-WB1\"],[\"EXAMPLE-HS8-WB1-RSQ1\",\"EXAMPLE-HS8-WB1\"],[\"EXAMPLE-HS9-WB1-RSQ1\",\"EXAMPLE-HS9-WB1\"]],\"type\":\"String\",\"format\":[\"example::rna_seq#tube_name\",\"example::biospecimen#name\"]}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Service-Worker-Allowed": [
            "/"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://magma.ucsf.edu/query"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}