{
  "http_interactions": [
    {
      "recorded_at": "2021-02-19T20:54:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"project_name\": \"example\", \"model_name\": \"subject\", \"record_names\": [\"EXAMPLE-HS1\"], \"attribute_names\": [\"group\"]}"
        },
        "headers": {
          "Authorization": [
            "<AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://magma.ucsf.edu/retrieve"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"models\":{\"subject\":{\"documents\":{\"EXAMPLE-HS1\":{\"name\":\"EXAMPLE-HS1\",\"group\":\"g1\"}},\"template\":{\"name\":\"subject\",\"attributes\":{\"created_at\":{\"name\":\"created_at\",\"attribute_name\":\"created_at\",\"display_name\":\"Created At\",\"restricted\":false,\"read_only\":false,\"hidden\":true,\"validation\":null,\"attribute_type\":\"date_time\"},\"updated_at\":{\"name\":\"updated_at\",\"attribute_name\":\"updated_at\",\"display_name\":\"Updated At\",\"restricted\":false,\"read_only\":false,\"hidden\":true,\"validation\":null,\"attribute_type\":\"date_time\"},\"name\":{\"name\":\"name\",\"attribute_name\":\"name\",\"display_name\":\"Name\",\"restricted\":false,\"read_only\":false,\"hidden\":false,\"validation\":null,\"attribute_type\":\"identifier\"},\"project\":{\"name\":\"project\",\"attribute_name\":\"project\",\"model_name\":\"project\",\"link_model_name\":\"project\",\"display_name\":\"Project\",\"restricted\":false,\"read_only\":false,\"hidden\":false,\"validation\":null,\"attribute_type\":\"parent\"},\"biospecimen\":{\"name\":\"biospecimen\",\"attribute_name\":\"biospecimen\",\"model_name\":\"biospecimen\",\"link_model_name\":\"biospecimen\",\"display_name\":\"Biospecimen\",\"restricted\":false,\"read_only\":false,\"hidden\":false,\"validation\":null,\"attribute_type\":\"collection\"},\"group\":{\"name\":\"group\",\"attribute_name\":\"group\",\"display_name\":\"Group\",\"restricted\":false,\"read_only\":false,\"hidden\":false,\"validation\":null,\"attribute_type\":\"string\"}},\"identifier\":\"name\",\"parent\":\"project\"}}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Service-Worker-Allowed": [
            "/"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://magma.ucsf.edu/retrieve"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}