http_interactions:
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"models":{"population":{"documents":{},"template":{"name":"population","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"name":{"name":"name","attribute_name":"name","description":"Name
        of this population.","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"count":{"name":"count","attribute_name":"count","description":"Number
        of cells.","display_name":"Count","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"integer"},"ancestry":{"name":"ancestry","attribute_name":"ancestry","description":"Chain
        of parent populations.","display_name":"Ancestry","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"flow":{"name":"flow","attribute_name":"flow","model_name":"flow","link_model_name":"flow","link_attribute_name":"population","link_attribute_type":"table","display_name":"Flow","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"id":{"name":"id","attribute_name":"id","display_name":"Id","hidden":true,"validation":null,"attribute_type":"identifier"}},"identifier":"id","parent":"flow"}},"sc_seq_dataset":{"documents":{},"template":{"name":"sc_seq_dataset","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","hidden":true,"validation":null,"attribute_type":"date_time"},"name":{"name":"name","attribute_name":"name","description":"Unique
        identifier for this dataset","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"project":{"name":"project","attribute_name":"project","model_name":"project","link_model_name":"project","link_attribute_name":"sc_seq_dataset","link_attribute_type":"collection","display_name":"Project","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"modalities":{"name":"modalities","attribute_name":"modalities","description":"comma-separated
        set of modalities included in the ''object''","display_name":"Modalities","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"metadata_clustering":{"name":"metadata_clustering","attribute_name":"metadata_clustering","description":"Name
        of a metadata column within the ''object'' holding cell cluster identities","display_name":"Metadata
        Clustering","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"metadata_annots_broad":{"name":"metadata_annots_broad","attribute_name":"metadata_annots_broad","description":"Name
        of a metadata column within the ''object'' holding broad-level cell annotations","display_name":"Metadata
        Annots Broad","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"object":{"name":"object","attribute_name":"object","description":"Seurat
        object saved as .Rds, or scanpy AnnData object saved as .h5ad","display_name":"Object","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"file"},"metadata_sc_seq":{"name":"metadata_sc_seq","attribute_name":"metadata_sc_seq","description":"Name
        of a metadata column within the ''object'' holding the sc_seq record id of
        each cell","display_name":"Metadata Sc Seq","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"description":{"name":"description","attribute_name":"description","description":"A
        text document providing details on how this object was processed","display_name":"Description","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"file"},"metadata_annots_fine":{"name":"metadata_annots_fine","attribute_name":"metadata_annots_fine","description":"Name
        of a metadata column within the ''object'' holding fine-level cell annotations","display_name":"Metadata
        Annots Fine","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"umap_name":{"name":"umap_name","attribute_name":"umap_name","description":"name
        of the dimensionality reduction within the ''object'' holding the recommended
        umap embeddings","display_name":"Umap Name","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"dge_latent_metadata":{"name":"dge_latent_metadata","attribute_name":"dge_latent_metadata","description":"comma-separated
        set of metadata column(s) that should be used as covariates in diffferential
        gene expression analyses making use of this ''object''.","display_name":"Dge
        Latent Metadata","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"primary_dataset":{"name":"primary_dataset","attribute_name":"primary_dataset","model_name":"sc_seq_dataset","link_model_name":"sc_seq_dataset","link_attribute_name":"sibling_datasets","link_attribute_type":"collection","display_name":"Primary
        Dataset","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"link"},"sibling_datasets":{"name":"sibling_datasets","attribute_name":"sibling_datasets","model_name":"sc_seq_dataset","link_model_name":"sc_seq_dataset","link_attribute_name":"primary_dataset","link_attribute_type":"link","display_name":"Sibling
        Datasets","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"metadata_sc_seq_pool":{"name":"metadata_sc_seq_pool","attribute_name":"metadata_sc_seq_pool","description":"Name
        of a metadata column within the ''object'' holding the sc_seq_id record id
        of each cell","display_name":"Metadata Sc Seq Pool","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"}},"identifier":"name","parent":"project"}},"rna_seq":{"documents":{},"template":{"name":"rna_seq","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"tube_name":{"name":"tube_name","attribute_name":"tube_name","display_name":"Tube
        Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"expression_type":{"name":"expression_type","attribute_name":"expression_type","description":"Desc.
        of normalized gene expression, e.g. RPKM, FPKM, TPM, etc.","display_name":"Expression
        Type","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"cell_number":{"name":"cell_number","attribute_name":"cell_number","description":"Number
        of input cells","display_name":"Cell Number","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"integer"},"gene_tpm":{"name":"gene_tpm","attribute_name":"gene_tpm","display_name":"Gene
        Tpm","options":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"]},"attribute_type":"matrix"},"gene_counts":{"name":"gene_counts","attribute_name":"gene_counts","display_name":"Gene
        Counts","options":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"]},"attribute_type":"matrix"},"fraction":{"name":"fraction","attribute_name":"fraction","description":"The
        sorted cell fraction represented","display_name":"Fraction","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"biospecimen":{"name":"biospecimen","attribute_name":"biospecimen","model_name":"biospecimen","link_model_name":"biospecimen","link_attribute_name":"rna_seq","link_attribute_type":"collection","display_name":"Biospecimen","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"fastq":{"name":"fastq","attribute_name":"fastq","description":"Fastq
        File","display_name":"Fastq","attribute_group":"","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"file"}},"identifier":"tube_name","parent":"biospecimen"}},"project":{"documents":{},"template":{"name":"project","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","hidden":true,"validation":null,"attribute_type":"date_time"},"description":{"name":"description","attribute_name":"description","display_name":"Description","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"people":{"name":"people","attribute_name":"people","description":"People
        involved in the project","display_name":"People","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"subject":{"name":"subject","attribute_name":"subject","model_name":"subject","link_model_name":"subject","link_attribute_name":"project","link_attribute_type":"parent","display_name":"Subject","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"completed":{"name":"completed","attribute_name":"completed","description":"Boolean
        of whether data collection is completed or not","display_name":"Completed","attribute_group":"required","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"boolean"},"funding_source":{"name":"funding_source","attribute_name":"funding_source","description":"A
        comma separated list of funding sources","display_name":"Funding source","attribute_group":"required","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"project_status":{"name":"project_status","attribute_name":"project_status","description":"Options
        are: [ Community, Resource, Team]","display_name":"Project Status","attribute_group":"required","options":["Community","Resource","Team"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["Community","Resource","Team"]},"attribute_type":"string"},"project_type":{"name":"project_type","attribute_name":"project_type","description":"Options
        are: [ CoProject, Copilot, External, Collaboration, Consortium]","display_name":"Project
        Type","attribute_group":"required","options":["CoProject","Copilot","External","Collaboration","Consortium"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["CoProject","Copilot","External","Collaboration","Consortium"]},"attribute_type":"string"},"publications":{"name":"publications","attribute_name":"publications","display_name":"Publications","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"species":{"name":"species","attribute_name":"species","description":"Comma
        separated list of species e.g [Homo sapiens, Mus musculus, Heterocephalus
        glaber]","display_name":"Species","attribute_group":"required","options":["Human","Mouse","Naked
        mole-rat"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["Human","Mouse","Naked
        mole-rat"]},"attribute_type":"string"},"start_date":{"name":"start_date","attribute_name":"start_date","description":"The
        year the project was started","display_name":"Start Date","attribute_group":"required","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"theme":{"name":"theme","attribute_name":"theme","description":"CoLabs
        project theme","display_name":"Theme","attribute_group":"required","options":["Autoimmunity","Cancer","Healthy
        reference","Infection","Early life","Womens health","Neurodegeneration","Inflammation","Fibrosis"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["Autoimmunity","Cancer","Healthy
        reference","Infection","Early life","Womens health","Neurodegeneration","Inflammation","Fibrosis"]},"attribute_type":"string"},"sc_seq_dataset":{"name":"sc_seq_dataset","attribute_name":"sc_seq_dataset","model_name":"sc_seq_dataset","link_model_name":"sc_seq_dataset","link_attribute_name":"project","link_attribute_type":"parent","display_name":"Sc
        Seq Dataset","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"name":{"name":"name","attribute_name":"name","display_name":"Name","restricted":false,"format_hint":"Example
        Project","read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"}},"identifier":"name"}},"biospecimen":{"documents":{},"template":{"name":"biospecimen","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"name":{"name":"name","attribute_name":"name","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"biospecimen_type":{"name":"biospecimen_type","attribute_name":"biospecimen_type","display_name":"Biospecimen
        Type","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"subject":{"name":"subject","attribute_name":"subject","model_name":"subject","link_model_name":"subject","link_attribute_name":"biospecimen","link_attribute_type":"collection","display_name":"Subject","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"}[...]
