http_interactions:
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"models":{"subject":{"documents":{"EXAMPLE-HS1":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS1","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS1-WB1"],"demographic":[157,169,181,193]},"EXAMPLE-HS10":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS10","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS10-WB1"],"demographic":[166,178,190]},"EXAMPLE-HS11":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS11","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS11-WB1"],"demographic":[167,179,191]},"EXAMPLE-HS12":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS12","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS12-WB1"],"demographic":[168,180,192]},"EXAMPLE-HS2":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS2","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS2-WB1"],"demographic":[158,170,182,194]},"EXAMPLE-HS3":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS3","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS3-WB1"],"demographic":[159,171,183,195]},"EXAMPLE-HS4":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS4","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS4-WB1"],"demographic":[160,172,184]},"EXAMPLE-HS5":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS5","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS5-WB1"],"demographic":[161,173,185]},"EXAMPLE-HS6":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS6","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS6-WB1"],"demographic":[162,174,186]},"EXAMPLE-HS7":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS7","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS7-WB1"],"demographic":[163,175,187]},"EXAMPLE-HS8":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS8","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS8-WB1"],"demographic":[164,176,188]},"EXAMPLE-HS9":{"created_at":null,"updated_at":"2024-10-07T19:49:30+00:00","name":"EXAMPLE-HS9","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS9-WB1"],"demographic":[165,177,189]}},"template":{"name":"subject","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"name":{"name":"name","attribute_name":"name","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"group":{"name":"group","attribute_name":"group","display_name":"Group","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"project":{"name":"project","attribute_name":"project","model_name":"project","link_model_name":"project","link_attribute_name":"subject","link_attribute_type":"collection","display_name":"Project","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"biospecimen":{"name":"biospecimen","attribute_name":"biospecimen","model_name":"biospecimen","link_model_name":"biospecimen","link_attribute_name":"subject","link_attribute_type":"parent","display_name":"Biospecimen","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"demographic":{"name":"demographic","attribute_name":"demographic","model_name":"demographic","link_model_name":"demographic","link_attribute_name":"subject","link_attribute_type":"parent","display_name":"Demographic","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"table"}},"identifier":"name","parent":"project"}},"demographic":{"documents":{"157":{"created_at":"2024-10-07T19:49:29+00:00","updated_at":"2024-10-07T19:49:29+00:00","subject":"EXAMPLE-HS1","name":"Sex
        at Birth","notes":null,"value":"Male","id":157},"158":{"created_at":"2024-10-07T19:49:29+00:00","updated_at":"2024-10-07T19:49:29+00:00","subject":"EXAMPLE-HS2","name":"Sex
        at Birth","notes":null,"value":"Male","id":158},"159":{"created_at":"2024-10-07T19:49:29+00:00","updated_at":"2024-10-07T19:49:29+00:00","subject":"EXAMPLE-HS3","name":"Sex
        at Birth","notes":null,"value":"Female","id":159},"160":{"created_at":"2024-10-07T19:49:29+00:00","updated_at":"2024-10-07T19:49:29+00:00","subject":"EXAMPLE-HS4","name":"Sex
      [...]
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: inline; filename="example_subject_results_2025_05_05_18_12_15.tsv"
      content-type: text/tsv
    body:
      encoding: ''
      file: no
      string: "name\tgroup\tproject\tbiospecimen\nEXAMPLE-HS1\tg1\tExample project\tEXAMPLE-HS1-WB1\nEXAMPLE-HS10\tg3\tExample
        project\tEXAMPLE-HS10-WB1\nEXAMPLE-HS11\tg3\tExample project\tEXAMPLE-HS11-WB1\nEXAMPLE-HS12\tg3\tExample
        project\tEXAMPLE-HS12-WB1\nEXAMPLE-HS2\tg1\tExample project\tEXAMPLE-HS2-WB1\nEXAMPLE-HS3\tg1\tExample
        project\tEXAMPLE-HS3-WB1\nEXAMPLE-HS4\tg1\tExample project\tEXAMPLE-HS4-WB1\nEXAMPLE-HS5\tg2\tExample
        project\tEXAMPLE-HS5-WB1\nEXAMPLE-HS6\tg2\tExample project\tEXAMPLE-HS6-WB1\nEXAMPLE-HS7\tg2\tExample
        project\tEXAMPLE-HS7-WB1\nEXAMPLE-HS8\tg2\tExample project\tEXAMPLE-HS8-WB1\nEXAMPLE-HS9\tg3\tExample
        project\tEXAMPLE-HS9-WB1\n"
  recorded_at: 2025-05-05 18:12:15 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
