http_interactions:
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      service-worker-allowed: /
    body:
      encoding: ''
      file: no
      string: '{"models":{"subject":{"documents":{"EXAMPLE-HS1":{"created_at":null,"updated_at":"2024-08-05T13:55:35+00:00","name":"EXAMPLE-HS1","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS1-WB1"],"demographic":[133,136]},"EXAMPLE-HS10":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS10","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS10-WB1"],"demographic":[]},"EXAMPLE-HS11":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS11","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS11-WB1"],"demographic":[]},"EXAMPLE-HS12":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS12","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS12-WB1"],"demographic":[]},"EXAMPLE-HS2":{"created_at":null,"updated_at":"2024-08-05T13:55:35+00:00","name":"EXAMPLE-HS2","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS2-WB1"],"demographic":[134,137]},"EXAMPLE-HS3":{"created_at":null,"updated_at":"2024-08-05T13:55:35+00:00","name":"EXAMPLE-HS3","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS3-WB1"],"demographic":[135,138]},"EXAMPLE-HS4":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS4","group":"g1","project":"Example
        project","biospecimen":["EXAMPLE-HS4-WB1"],"demographic":[]},"EXAMPLE-HS5":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS5","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS5-WB1"],"demographic":[]},"EXAMPLE-HS6":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS6","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS6-WB1"],"demographic":[]},"EXAMPLE-HS7":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS7","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS7-WB1"],"demographic":[]},"EXAMPLE-HS8":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS8","group":"g2","project":"Example
        project","biospecimen":["EXAMPLE-HS8-WB1"],"demographic":[]},"EXAMPLE-HS9":{"created_at":null,"updated_at":null,"name":"EXAMPLE-HS9","group":"g3","project":"Example
        project","biospecimen":["EXAMPLE-HS9-WB1"],"demographic":[]}},"template":{"name":"subject","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"name":{"name":"name","attribute_name":"name","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"group":{"name":"group","attribute_name":"group","display_name":"Group","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"project":{"name":"project","attribute_name":"project","model_name":"project","link_model_name":"project","link_attribute_name":"subject","display_name":"Project","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"biospecimen":{"name":"biospecimen","attribute_name":"biospecimen","model_name":"biospecimen","link_model_name":"biospecimen","link_attribute_name":"subject","display_name":"Biospecimen","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"demographic":{"name":"demographic","attribute_name":"demographic","model_name":"demographic","link_model_name":"demographic","link_attribute_name":"subject","display_name":"Demographic","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"table"}},"identifier":"name","parent":"project"}},"demographic":{"documents":{"133":{"created_at":"2024-08-05T13:55:35+00:00","updated_at":"2024-08-05T13:55:35+00:00","subject":"EXAMPLE-HS1","name":"Sex
        at Birth","notes":null,"value":"Male","id":133},"134":{"created_at":"2024-08-05T13:55:35+00:00","updated_at":"2024-08-05T13:55:35+00:00","subject":"EXAMPLE-HS2","name":"Sex
        at Birth","notes":null,"value":"Male","id":134},"135":{"created_at":"2024-08-05T13:55:35+00:00","updated_at":"2024-08-05T13:55:35+00:00","subject":"EXAMPLE-HS3","name":"Sex
        at Birth","notes":null,"value":"Female","id":135},"136":{"created_at":"2024-08-05T13:55:35+00:00","updated_at":"2024-08-05T13:55:35+00:00","subject":"EXAMPLE-HS1","name":"Age
      [...]
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/tsv
      content-disposition: inline; filename="example_subject_results_2024_08_05_14_06_13.tsv"
      service-worker-allowed: /
    body:
      encoding: ''
      file: no
      string: "name\tgroup\tproject\tbiospecimen\nEXAMPLE-HS1\tg1\tExample project\tEXAMPLE-HS1-WB1\nEXAMPLE-HS10\tg3\tExample
        project\tEXAMPLE-HS10-WB1\nEXAMPLE-HS11\tg3\tExample project\tEXAMPLE-HS11-WB1\nEXAMPLE-HS12\tg3\tExample
        project\tEXAMPLE-HS12-WB1\nEXAMPLE-HS2\tg1\tExample project\tEXAMPLE-HS2-WB1\nEXAMPLE-HS3\tg1\tExample
        project\tEXAMPLE-HS3-WB1\nEXAMPLE-HS4\tg1\tExample project\tEXAMPLE-HS4-WB1\nEXAMPLE-HS5\tg2\tExample
        project\tEXAMPLE-HS5-WB1\nEXAMPLE-HS6\tg2\tExample project\tEXAMPLE-HS6-WB1\nEXAMPLE-HS7\tg2\tExample
        project\tEXAMPLE-HS7-WB1\nEXAMPLE-HS8\tg2\tExample project\tEXAMPLE-HS8-WB1\nEXAMPLE-HS9\tg3\tExample
        project\tEXAMPLE-HS9-WB1\n"
  recorded_at: 2024-08-05 14:06:13 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
