http_interactions:
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      service-worker-allowed: /
    body:
      encoding: UTF-8
      file: no
      string: '{"models":{"subject":{"documents":{},"template":{"name":"subject","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"name":{"name":"name","attribute_name":"name","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"project":{"name":"project","attribute_name":"project","model_name":"project","link_model_name":"project","display_name":"Project","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"biospecimen":{"name":"biospecimen","attribute_name":"biospecimen","model_name":"biospecimen","link_model_name":"biospecimen","display_name":"Biospecimen","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"group":{"name":"group","attribute_name":"group","display_name":"Group","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"}},"identifier":"name","parent":"project"}},"rna_seq":{"documents":{},"template":{"name":"rna_seq","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"biospecimen":{"name":"biospecimen","attribute_name":"biospecimen","model_name":"biospecimen","link_model_name":"biospecimen","display_name":"Biospecimen","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"tube_name":{"name":"tube_name","attribute_name":"tube_name","display_name":"Tube
        Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"expression_type":{"name":"expression_type","attribute_name":"expression_type","description":"Desc.
        of normalized gene expression, e.g. RPKM, FPKM, TPM, etc.","desc":"Desc. of
        normalized gene expression, e.g. RPKM, FPKM, TPM, etc.","display_name":"Expression
        Type","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"cell_number":{"name":"cell_number","attribute_name":"cell_number","description":"Number
        of input cells","desc":"Number of input cells","display_name":"Cell Number","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"integer"},"gene_tpm":{"name":"gene_tpm","attribute_name":"gene_tpm","display_name":"Gene
        Tpm","options":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"]},"attribute_type":"matrix"},"gene_counts":{"name":"gene_counts","attribute_name":"gene_counts","display_name":"Gene
        Counts","options":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"]},"attribute_type":"matrix"},"fraction":{"name":"fraction","attribute_name":"fraction","description":"The
        sorted cell fraction represented","desc":"The sorted cell fraction represented","display_name":"Fraction","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"}},"identifier":"tube_name","parent":"biospecimen"}},"population":{"documents":{},"template":{"name":"population","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"flow":{"name":"flow","attribute_name":"flow","model_name":"flow","link_model_name":"flow","display_name":"Flow","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"name":{"name":"name","attribute_name":"name","description":"Name
        of this population.","desc":"Name of this population.","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"count":{"name":"count","attribute_name":"count","description":"Number
        of cells.","desc":"Number of cells.","display_name":"Count","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"integer"},"ancestry":{"name":"ancestry","attribute_name":"ancestry","description":"Chain
        of parent populations.","desc":"Chain of parent populations.","display_name":"Ancestry","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"id":{"name":"id","attribute_name":"id","display_name":"Id","hidden":true,"validation":null,"attribute_type":"identifier"}},"identifier":"id","parent":"flow"}},"project":{"documents":{},"template":{"name":"project","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","hidden":true,"validation":null,"attribute_type":"date_time"},"name":{"name":"name","attribute_name":"name","display_name":"Name","options":["example"],"restricted":false,"format_hint":"example","read_only":false,"hidden":false,"validation":{"type":"Array","value":["example"]},"attribute_type":"identifier"},"subject":{"name":"subject","attribute_name":"subject","model_name":"subject","link_model_name":"subject","display_name":"Subject","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"description":{"name":"description","attribute_name":"description","display_name":"Description","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"people":{"name":"people","attribute_name":"people","description":"People
        involved in the project","desc":"People involved in the project","display_name":"People","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"}},"identifier":"name"}},"flow":{"documents":{},"template":{"name":"flow","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"biospecimen":{"name":"biospecimen","attribute_name":"biospecimen","model_name":"biospecimen","link_model_name":"biospecimen","display_name":"Biospecimen","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"stain_name":{"name":"stain_name","attribute_name":"stain_name","display_name":"Stain
        Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"population":{"name":"population","attribute_name":"population","model_name":"population","link_model_name":"population","display_name":"Population","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"table"},"stain":{"name":"stain","attribute_name":"stain","description":"Flow
        Cytometry stain panel.","desc":"Flow Cytometry stain panel.","display_name":"Stain","options":["dc","innate","nktb","sort","treg"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["dc","innate","nktb","sort","treg"]},"attribute_type":"string"},"fcs_file":{"name":"fcs_file","attribute_name":"fcs_file","description":"FACS
        format file.","desc":"FACS format file.","display_name":"FCS file","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"file"}},"identifier":"stain_name","parent":"biospecimen"}},"biospecimen":{"documents":{},"template":{"name":"biospecimen","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"subject":{"name":"subject","attribute_name":"subject","model_name":"subject","link_model_name":"subject","display_name":"Subject","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"name":{"name":"name","attribute_name":"name","display_name":"Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"biospecimen_type":{"name":"biospecimen_type","attribute_name":"biospecimen_type","display_name":"Biospecimen
        Type","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"rna_seq":{"name":"rna_seq","attribute_name":"rna_seq","model_name":"rna_seq","link_model_name":"rna_seq","display_name":"Rna
        Seq","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"},"flow":{"name":"flow","attribute_name":"flow","model_name":"flow","link_model_name":"flow","display_name":"Flow","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"collection"}},"identifier":"name","parent":"subject"}}}}'
  recorded_at: 2021-04-08 00:11:19 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/tsv
      content-disposition: inline; filename="results.tsv
      service-worker-allowed: /
    body:
      encoding: UTF-8
      file: no
      string: |
        tube_name
        EXAMPLE-HS10-WB1-RSQ1
        EXAMPLE-HS11-WB1-RSQ1
        EXAMPLE-HS12-WB1-RSQ1
        EXAMPLE-HS1-WB1-RSQ1
        EXAMPLE-HS2-WB1-RSQ1
        EXAMPLE-HS3-WB1-RSQ1
        EXAMPLE-HS4-WB1-RSQ1
        EXAMPLE-HS5-WB1-RSQ1
        EXAMPLE-HS6-WB1-RSQ1
        EXAMPLE-HS7-WB1-RSQ1
        EXAMPLE-HS8-WB1-RSQ1
        EXAMPLE-HS9-WB1-RSQ1
  recorded_at: 2021-04-08 00:11:19 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
- request:
    method: get
    uri: https://magma.ucsf.edu/update
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      service-worker-allowed: /
    body:
      encoding: UTF-8
      file: no
      string: '{"models":{"rna_seq":{"documents":{"EXAMPLE-HS1-WB1-RSQ1":{"tube_name":"EXAMPLE-HS1-WB1-RSQ1","gene_counts":[2,22,120,615,1,0,55,33,575,6,1,512,0,0,0,46,4,849,1,1871,32,0,2,24,0,1,138,77,0,746,0,0,0,0,0,1,742,9,0,0]},"EXAMPLE-HS2-WB1-RSQ1":{"tube_name":"EXAMPLE-HS2-WB1-RSQ1","gene_counts":[305,1,868,1226,0,0,1,112,179,0,9,0,1,0,1,321,11,10574,14,18444,49,0,0,201,0,0,0,40,3,87,0,0,0,31,0,20,1412,0,0,3]},"EXAMPLE-HS3-WB1-RSQ1":{"tube_name":"EXAMPLE-HS3-WB1-RSQ1","gene_counts":[45,0,106,321,17,2,1,46,285,0,0,52,0,0,0,102,23,1542,9,3056,0,0,2,99,0,0,0,52,19,36,0,16,0,0,0,29,914,0,0,3]},"EXAMPLE-HS4-WB1-RSQ1":{"tube_name":"EXAMPLE-HS4-WB1-RSQ1","gene_counts":[5,113,161,1472,0,6,1,110,394,6,3,0,0,0,0,346,30,5986,6,3581,2,0,0,48,0,0,0,6,0,2371,0,0,1,0,0,130,270,0,1,11]},"EXAMPLE-HS5-WB1-RSQ1":{"tube_name":"EXAMPLE-HS5-WB1-RSQ1","gene_counts":[13,115,512,2131,23,0,2,143,193,0,3,157,0,0,0,236,25,3171,18,2887,35,1,1,219,0,0,0,45,1,558,1,14,7,10,0,269,2667,0,0,0]},"EXAMPLE-HS6-WB1-RSQ1":{"tube_name":"EXAMPLE-HS6-WB1-RSQ1","gene_counts":[55,50,526,1528,21,0,1,829,1,0,11,279,0,3,0,50,20,1895,179,3841,0,0,0,69,0,0,0,0,13,595,0,16,57,47,0,1459,11,0,0,0]},"EXAMPLE-HS7-WB1-RSQ1":{"tube_name":"EXAMPLE-HS7-WB1-RSQ1","gene_counts":[4,75,349,1289,1,0,33,51,0,7,0,175,0,0,0,16,0,1245,4,1642,22,0,1,51,1,0,11,32,0,1008,0,25,0,0,0,557,1270,0,0,0]},"EXAMPLE-HS8-WB1-RSQ1":{"tube_name":"EXAMPLE-HS8-WB1-RSQ1","gene_counts":[6,32,359,943,0,0,3,11,15,0,5,32,0,0,0,0,0,1187,2,4146,81,25,0,36,0,0,0,0,0,548,0,0,0,0,0,44,966,0,0,0]},"EXAMPLE-HS9-WB1-RSQ1":{"tube_name":"EXAMPLE-HS9-WB1-RSQ1","gene_counts":[30,257,1059,2128,71,35,28,469,81,0,0,775,24,40,0,389,0,2923,98,11898,12,1,0,36,2,3,145,99,52,281,0,463,1,1,1,379,10,0,1,2]},"EXAMPLE-HS10-WB1-RSQ1":{"tube_name":"EXAMPLE-HS10-WB1-RSQ1","gene_counts":[4,231,861,2077,3,0,30,68,1058,0,37,111,5,0,1,1004,18,3820,8,3834,48,0,1,118,25,0,1,21,0,222,0,40,0,1,0,1039,731,0,0,5]},"EXAMPLE-HS11-WB1-RSQ1":{"tube_name":"EXAMPLE-HS11-WB1-RSQ1","gene_counts":[8,43,155,427,2,0,2,10,44,0,2,40,0,0,0,36,2,239,1,732,2,0,0,13,0,0,6,3,0,67,0,0,0,0,0,86,81,0,0,0]},"EXAMPLE-HS12-WB1-RSQ1":{"tube_name":"EXAMPLE-HS12-WB1-RSQ1","gene_counts":[19,123,449,1191,0,0,6,61,1,3,4,12,0,0,0,37,10,799,7,1244,1,1,0,63,0,0,0,0,0,914,0,12,0,0,0,2324,583,0,0,7]}},"template":{"name":"rna_seq","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        A[...]
[...]
