http_interactions:
- request:
    method: get
    uri: https://magma.ucsf.edu/retrieve
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/tsv
      content-disposition: inline; filename="example_rna_seq_results_2021_09_29_20_34_03.tsv"
      service-worker-allowed: /
    body:
      encoding: UTF-8
      file: no
      string: "tube_name\tcell_number\tfraction\nEXAMPLE-HS10-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS11-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS12-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS1-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS2-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS3-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS4-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS5-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS6-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS7-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS8-WB1-RSQ1\t50000\tTcells\nEXAMPLE-HS9-WB1-RSQ1\t50000\tTcells\n"
  recorded_at: 2021-09-29 20:34:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://magma.ucsf.edu/update
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Etna <<<my_token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      service-worker-allowed: /
    body:
      encoding: UTF-8
      file: no
      string: '{"models":{"rna_seq":{"documents":{"EXAMPLE-HS10-WB1-RSQ1":{"tube_name":"EXAMPLE-HS10-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS11-WB1-RSQ1":{"tube_name":"EXAMPLE-HS11-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS12-WB1-RSQ1":{"tube_name":"EXAMPLE-HS12-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS1-WB1-RSQ1":{"tube_name":"EXAMPLE-HS1-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS2-WB1-RSQ1":{"tube_name":"EXAMPLE-HS2-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS3-WB1-RSQ1":{"tube_name":"EXAMPLE-HS3-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS4-WB1-RSQ1":{"tube_name":"EXAMPLE-HS4-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS5-WB1-RSQ1":{"tube_name":"EXAMPLE-HS5-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS6-WB1-RSQ1":{"tube_name":"EXAMPLE-HS6-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS7-WB1-RSQ1":{"tube_name":"EXAMPLE-HS7-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS8-WB1-RSQ1":{"tube_name":"EXAMPLE-HS8-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"},"EXAMPLE-HS9-WB1-RSQ1":{"tube_name":"EXAMPLE-HS9-WB1-RSQ1","cell_number":50000,"fraction":"Tcells"}},"template":{"name":"rna_seq","attributes":{"created_at":{"name":"created_at","attribute_name":"created_at","display_name":"Created
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"updated_at":{"name":"updated_at","attribute_name":"updated_at","display_name":"Updated
        At","restricted":false,"read_only":false,"hidden":true,"validation":null,"attribute_type":"date_time"},"biospecimen":{"name":"biospecimen","attribute_name":"biospecimen","model_name":"biospecimen","link_model_name":"biospecimen","display_name":"Biospecimen","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"parent"},"tube_name":{"name":"tube_name","attribute_name":"tube_name","display_name":"Tube
        Name","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"identifier"},"expression_type":{"name":"expression_type","attribute_name":"expression_type","description":"Desc.
        of normalized gene expression, e.g. RPKM, FPKM, TPM, etc.","desc":"Desc. of
        normalized gene expression, e.g. RPKM, FPKM, TPM, etc.","display_name":"Expression
        Type","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"},"cell_number":{"name":"cell_number","attribute_name":"cell_number","description":"Number
        of input cells","desc":"Number of input cells","display_name":"Cell Number","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"integer"},"gene_tpm":{"name":"gene_tpm","attribute_name":"gene_tpm","display_name":"Gene
        Tpm","options":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"]},"attribute_type":"matrix"},"gene_counts":{"name":"gene_counts","attribute_name":"gene_counts","display_name":"Gene
        Counts","options":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"],"restricted":false,"read_only":false,"hidden":false,"validation":{"type":"Array","value":["gene1","gene2","gene3","gene4","gene5","gene6","gene7","gene8","gene9","gene10","gene11","gene12","gene13","gene14","gene15","gene16","gene17","gene18","gene19","gene20","gene21","gene22","gene23","gene24","gene25","gene26","gene27","gene28","gene29","gene30","gene31","gene32","gene33","gene34","gene35","gene36","gene37","gene38","gene39","gene40"]},"attribute_type":"matrix"},"fraction":{"name":"fraction","attribute_name":"fraction","description":"The
        sorted cell fraction represented","desc":"The sorted cell fraction represented","display_name":"Fraction","restricted":false,"read_only":false,"hidden":false,"validation":null,"attribute_type":"string"}},"identifier":"tube_name","parent":"biospecimen"}}}}'
  recorded_at: 2021-09-29 20:34:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
