<!DOCTYPE html>
<meta charset='utf-8'/>
<html>
  <head>
    <title><%= Vesta.instance.environment == :development ? 'Dev ' : '' %>Vesta</title>
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>
