.admin-edit-grouping {

  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  min-width: 980px;
}

.admin-edit-head-group {

  border-bottom: 1px solid #666;
}

.admin-edit-title {

  font-family: 'gotham_bookregular';
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 3px;
  text-align: left;
}

.admin-column-head-arrow-group {

  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
}

.admin-add-btn {
  
  float: right;
  position: relative;
  margin-left: 5px;
  padding: 3px;
  border: 1px solid #666;
  border-radius: 1px;
  background: #999;
  cursor: pointer;

  color: #fff;
  font-family: 'gotham_bookregular';
  font-size: 1em;
  letter-spacing: 1px;
}

.admin-add-btn:focus {

  outline:none;
}

.admin-control-box {

  display: inline-block;
  visibility: hidden;
  width: 110px;
  float: right;
  margin-right: 5px;
}

.admin-edit-entry-group {

  border-bottom: 1px solid #ccc;
}

.admin-edit-entry-group td {

  font-family: 'gotham_bookregular';
  height: 30px;
  vertical-align: middle;
  padding-right:15px;
}

.admin-edit-entry-group td:last-child {

  padding-right: 0px;
}

.admin-entry-input {

  font-family: 'gotham_bookregular';
  font-size: 1em;
  height: 18px;
  border: 1px solid #999;
  width: 100%;
  background: none;
}

.admin-entry-input:focus {

  border: 1px solid #24a684;
  outline: none;
}

.admin-entry-input:hover,
.admin-entry-input:focus {

  -webkit-box-shadow: inset -1px 1px 1px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    inset -1px 1px 1px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         inset -1px 1px 1px 0px #ccc;
}

.admin-entry-input-inactive {

  border: 0px;
  outline: none;
  width: 100%;
  margin-left: 1px;
  background: none;
}

.admin-entry-input-active {

  border: 1px solid #24a684;
}

.admin-entry-delete-btn,
.admin-entry-delete-btn:focus,
.admin-entry-edit-btn,
.admin-entry-edit-btn:focus {

  display: none;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: none;
  color: #666;
}

.admin-entry-delete-btn:hover,
.admin-entry-edit-btn:hover {

  color: #000;
}

.admin-entry-delete-btn {

  display: inline-block;
  float: right;
  padding-top: 0px;
  font-size: 1.3em;
}