version: '3.4'

x-base-etna-service:
  &base-etna-service # Base configuration used by most etna services.
  image: etna-base-dev
  volumes: &base-etna-service-volumes
    - .:/app:delegated
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - vulcan-app-gems:/app/vendor/bundle:rw
    - vulcan-log-dir:/app/log:rw
    - vulcan-tmp-dir:/app/tmp:rw
    - vulcan-public-dir:/app/public:rw
    - vulcan-opt-dir:/usr/opt:rw
    - vulcan-node-modules:/app/node_modules
    - ../etna:/etna:delegated
  environment: &base-etna-env
    'VULCAN_ENV': 'development'
    APP_NAME: 'vulcan'
    HOST_DIR_MAP: '/app=${PWD}/../vulcan'
    METRICS_PW: 'metrics_pw'

  entrypoint: /entrypoints/development.sh

  networks:
    default:
    edge_net:
  extra_hosts:
    - 'metis.development.local:172.16.238.10'
    - 'magma.development.local:172.16.238.10'
    - 'janus.development.local:172.16.238.10'
    - 'timur.development.local:172.16.238.10'
    - 'rtemis.development.local:172.16.238.10'
    - 'archimedes.development.local:172.16.238.10'
    - 'polyphemus.development.local:172.16.238.10'

x-base-etna-services:
  &base-etna-services # Default list of services an etna app may have.
  'vulcan_app': &base-etna-app # The ruby webserver
    <<: *base-etna-service
    command: ./bin/puma.sh
    environment:
      <<: *base-etna-env
      WAIT_FOR_DB: 1
    depends_on:
      - 'vulcan_db'

  'vulcan_webpack':
    &base-etna-webpack # The ruby webpack server watching for changes
    <<: *base-etna-service
    command: npm run webpack

  'vulcan_db':
    &base-etna-db # The application specific database.  Overwrite with development-psql-9 to use psql 9 instead.
    image: development-psql
    volumes:
      - vulcan-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: 'vulcan_development'
      POSTGRES_PASSWORD: password
      POSTGRES_USER: developer
      APP_NAME: 'vulcan'
    container_name: 'vulcan_db_1'

  'vulcan_app_fe':
    &base-etna-fe # The application level apache frontend serving static assets, data, and proxying the main app.
    image: etna-apache
    entrypoint: /entrypoints/development_app_fe.sh
    volumes:
      - vulcan-public-dir:/app/public:ro
      - ./data:/app/data:delegated
      - ./vulcan_app_fe:/app/vulcan_app_fe:ro
    depends_on:
      - 'vulcan_app'
    command: ['httpd', '-DFOREGROUND']
    environment:
      APP_NAME: 'vulcan'

volumes:
  vulcan-db-data:
    driver: local
    name: 'vulcan-db-data'
  vulcan-log-dir:
    driver: local
    name: 'vulcan-log-dir'
  vulcan-tmp-dir:
    driver: local
    name: 'vulcan-tmp-dir'
  vulcan-public-dir:
    driver: local
    name: 'vulcan-public-dir'
  vulcan-app-gems:
    driver: local
  vulcan-data-dir:
    driver: local
    name: 'vulcan-data-dir'
  vulcan-opt-dir:
    driver: local
  vulcan-node-modules:
    driver: local
    name: "vulcan-node-modules"

networks:
  edge_net:
    ipam:
      driver: default
      config:
        - subnet: '172.16.238.0/24'
        - subnet: '2001:3984:3989::/64'

services:
  <<: *base-etna-services

