interactions:
- request:
    body: '{"token_type": "task", "project_name": "mvir1", "ready_only": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXX-Auth
    method: POST
    uri: https://janus.ucsf.edu/api/tokens/generate
  response:
    body:
      string: eyJhbGciOiJSUzI1NiJ9.eyJlbWFpbCI6InphY2hhcnkuY29sbGluc0B1Y3NmLmVkdSIsIm5hbWUiOiJaYWNoYXJ5IENvbGxpbnMiLCJwZXJtIjoiZTptdmlyMSIsImZsYWdzIjoiaW5nZXN0O3Z1bGNhbjt0aW11cmFkdmFuY2VkO3F1ZXJ5cGxvdCIsImV4cCI6MTY0Njc2NzQ3MiwidGFzayI6dHJ1ZX0.DLn94Cp10D0UtBQAqwJgcN9RV2wY7GX9s-Emn1cZrtNiUMWOmuiB4VSvDdkJXq_R5adXknNeBxFMTUYT1AN6M6claKng6aihZ_7YD3adYVop-etl59pYJm3IdKmNVBlB9rT4PFlIZWYrC_E1SJUuS8sYc-ihk7fPh_kVPB0usfige8E6FFS-mrn6GZscAfTj_pGIhOxG7i7cF7GqXSaLX2OrW2sXxycl91TPDOGkUm593sHzA-HRsrjcjEqoCnGZvahh3wALZx2qqSBL26NswHKr5Nt_9zLlqLTE28mmLg3Gq2N5Fe6E0UDidJxmRqs5OlpAqmfGZWDFTIq69rl6B51Wo9bDLN1pjTQp-NnbFsBpW4-syfIZ-sSciRhB1w4DD1OmhGox1AiYIzfamLQFYMUy1n_GqCaPWZ6SbI5-EY8HuKDaTZBT-DWkrbt9RLpSLEiWpbnYapp9BGZlL73ZymczLkSwoe1Exho2n53BVWZ8Hrg8bgWTxSbGCJtlO-CbdnTL1M0Cl3NLVoVDXL4qSGtafL4knyproxv03C8wtZ6-QGeZpBvgUevNk9wevueNXIOc4kuXMjsnNtDdzk-bCJmyD1z7N0f4_vrMX0oSo_C7DSR3Qec0Q3wg6nGFMadqHVsXmI2OY2wIq1owJP7HrvexTnZjsnZuRLPYbWySiWA
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Service-Worker-Allowed:
      - /
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - XXX-Auth
    method: GET
    uri: https://metis.ucsf.edu/mvir1/list/data/bulk_RNASeq/raw
  response:
    body:
      string: '{"files":[],"folders":[{"folder_name":"MVIR1-HS101-D0NAS1-RSQ1","bucket_name":"data","folder_path":"bulk_RNASeq/raw/MVIR1-HS101-D0NAS1-RSQ1","project_name":"mvir1","read_only":false,"updated_at":"2021-06-04T23:26:13+00:00","created_at":"2020-12-15T00:38:31+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":62291},{"folder_name":"MVIR1-HS101-D0PBMC1-RSQ1","bucket_name":"data","folder_path":"bulk_RNASeq/raw/MVIR1-HS101-D0PBMC1-RSQ1","project_name":"mvir1","read_only":false,"updated_at":"2021-04-23T00:00:11+00:00","created_at":"2021-03-24T22:51:27+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":89806},{"folder_name":"MVIR1-HS101-D0PBMC1-RSQ2","bucket_name":"data","folder_path":"bulk_RNASeq/raw/MVIR1-HS101-D0PBMC1-RSQ2","project_name":"mvir1","read_only":false,"updated_at":"2022-02-05[...]
[...]
- request:
    body: '{"batch_start": "2010-01-01T00:00:00+00:00", "batch_end": "2020-09-11T14:59:54+00:00",
      "type": "folders"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXX-Auth
    method: POST
    uri: https://metis.ucsf.edu/mvir1/tail/data
  response:
    body:
      string: "HTTP/1.1 500 Internal Server Error\r\nConnection: close\r\nContent-Length:
        1589\r\n\r\nPuma caught this error: undefined method `each' for nil:NilClass
        (NoMethodError)\n/app/vendor/bundle/ruby/2.5.0/gems/rack-2.2.3/lib/rack/utils.rb:429:in
        `initialize'\n/app/vendor[...]
[...]
