interactions:
- request:
    body: '{"token_type": "task", "project_name": "mvir1", "read_only": true}'
    headers:
      Content-Type:
        - application/json
      authorization:
        - XXX-Auth
    method: POST
    uri: https://janus.ucsf.edu/api/tokens/generate
  response:
    body:
      string: eyJhbGciOiJSUzI1NiJ9.eyJlbWFpbCI6InphY2hhcnkuY29sbGluc0B1Y3NmLmVkdSIsIm5hbWUiOiJaYWNoYXJ5IENvbGxpbnMiLCJwZXJtIjoiZTptdmlyMSIsImZsYWdzIjoiaW5nZXN0O3Z1bGNhbjt0aW11cmFkdmFuY2VkO3F1ZXJ5cGxvdCIsImV4cCI6MTY0Njg1MDQ5MCwidGFzayI6dHJ1ZX0.rX6ZIbgxEdTowBKyfVTty6ZSTBdh83jPvQ-9kFIEdwHbWB3nzPIxjw8Jo5FqsXbPT33-_TYTd6Am__baO0EVGwxflW5ggjiapPcc0joy7zfqMletDY9dAwLa07gwtXXDk3Ncn8X1gmPeR3CKxgwQBh7zDjJ4IRnab68LVCnvog5u9NSONtyoBeIzP_9hNsYbGA8P_xxV0_JDl-uZuf4gHVOA1RDtsArvHtJfjCpTgct6_5_J2RrQcVeow5wG3sov2IV7zuAxcL2xKHVhjXeYR5FkLEixVjyOJj_jSskazrci7DFbm62OMtJGfk2MYLkMngW_9uUaVQWPwRC57BEaa6OMWkC5hs21XvAxPg6o7HVb-TbJ9bMI7IeBcOVt_5BDKFVcQIvR6ieigFR1ZlcL9D0VGgQFD_Exp2BochnXNcrzzIgQZmzkWbpP6u-43XYHcon-RgmwBBemOaKGddlFPdL2Uh4vwGeoeJXBE4HbNJRb97xtpU-TFjm1TT9KmztGpHOe6i1q476h_tTxJ7sVvukAQNkTaOPeewfjGOfU82HAT7VrvoMwdKQK07t_PFneXZCyvTPE1uDcuiEsK19VzHpB_sud7YsTTEhvOBKJ7Fb7qulGsvgBcUr7XR_IVNQPtCfrbv6TdX5TpUWDY0pOFXQ3tsUUMppOaaBFlwm0jmI
    headers:
      Content-Type:
        - text/plain; charset=UTF-8
      Service-Worker-Allowed:
        - /
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - XXX-Auth
    method: GET
    uri: https://metis.ucsf.edu/mvir1/list/data/bulk_RNASeq/raw
  response:
    body:
      string: '{"files":[],"folders":[{"folder_name":"MVIR1-HS101-D0NAS1-RSQ1","bucket_name":"data","folder_path":"bulk_RNASeq/raw/MVIR1-HS101-D0NAS1-RSQ1","project_name":"mvir1","read_only":false,"updated_at":"2021-06-04T23:26:13+00:00","created_at":"2020-12-15T00:38:31+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":62291},{"folder_name":"MVIR1-HS101-D0PBMC1-RSQ1","bucket_name":"data","folder_path":"bulk_RNASeq/raw/MVIR1-HS101-D0PBMC1-RSQ1","project_name":"mvir1","read_only":false,"updated_at":"2021-04-23T00:00:11+00:00","created_at":"2021-03-24T22:51:27+00:00","author":"arjunarkal.rao@ucsf.edu|Arjun
        Rao","id":89806},{"folder_name":"MVIR1-HS101-D0PBMC1-RSQ2","bucket_name":"data","folder_path":"bulk_RNASeq/raw/MVIR1-HS101-D0PBMC1-RSQ2","project_name":"mvir1","read_only":false,"updated_at":"2022-02-05[...]
[...]
- request:
    body: '{"batch_start": "2010-01-01T00:00:00+00:00", "batch_end": "2020-09-11T14:59:54+00:00",
      "type": "folders"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXX-Auth
    method: POST
    uri: https://metis.ucsf.edu/mvir1/tail/data
  response:
    body:
      string: '{"type":"folder","id":2772,"parent_id":null,"node_name":"single_cell_GEX","updated_at":"2020-05-01
        11:07:08 +0000","created_at":"2020-05-01 11:07:08 +0000","file_hash":null,"archive_id":null}

        {"type":"folder","id":2773,"parent_id":2772,"node_name":"raw","updated_at":"2020-05-01
        11:07:16 +0000","created_at":"2020-05-01 11:07:16 +0000","file_hash":null,"archive_id":null}

        {"type":"folder","id":2778,"parent_id":2773,"node_name":"MVIR1-POOL-SCG1","updated_at":"2020-05-01
        16:38:26 +0000","created_at":"2020-05-01 16:38:26 +0000","file_hash":null,"archive_id":null}

        {"type":"folder","id":2779,"parent_id":2773,"node_name":"MVIR1-POOL-SCG2","upda[...]
[...]
