export(input_path)
export(input_str)
export(input_int)
export(input_num)
export(input_bool)
export(output_path)
export(output_var)
export(output_json)
export(input_json)
export(token)
export(magma_host)
export(project_name)