:development:
  :magma:
    :host: https://magma.development.local
  :mvir1:
    :token: my-token # create a long lived token with janus

:test:
  :magma:
    :host: https://magma.test
  :mvir1:
    :token: mvir1-token
