:development:
  :docker:
    :default_tag: latest
  :janus:
    :host: https://janus.development.local
  :timur:
    :host: https://timur.development.local
  :magma:
    :host: https://magma.development.local
  :metis:
    :host: https://metis.development.local
    :release_bucket: this_is_releasable
    :restrict_bucket: dont_show_anyone
  :polyphemus:
    :host: https://polyphemus.development.local
    :token: my-token # create a long lived token with janus
  :db:
    :adapter: postgres
    :host: polyphemus_db
    :database: polyphemus_development
    :user: developer
    :password: password
    :search_path: [ public ]
  :auth_redirect: https://janus.development.local
  :token_name: JANUS_DEV_TOKEN
  :token_algo: RS256
  :token_domain: development.local
  :token_life: 31536000
  :rsa_public: |
    -----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6pLkfi2RXd3jHWKh9W37
    k7Nw5aZxIQRCf9b5b0uUIqyk4ODH1Pd4s/hhYq/9c+HT2304NkiqRw4cVOHMgk8N
    O+a+7F+HgspJZopyEBCJvBloBoPKrpkZv0FeVHYwiDM2kf3GFDzTPBdUSpYJimtn
    HF29DdEoj6O5xL9uGW97QZ34JYacIeG7GmVGjYnCvA87S0miDUxvGlu40g+VJhND
    mLXMzWa5vTxyGb4cEQSL6rryVxmBlonG4J41K7A04/7tftKvWrqsCWAfSCusNs8w
    CgX77PmgC3zcOpKDZW0LVb2x7qhp67Fz1EMnRbV1vJY5L6U4FlUnu59/WiTvCpwu
    NQIDAQAB
    -----END PUBLIC KEY-----
  :dateshift_salt: 123456
  :redcap:
    :host: https://redcap.development.local

:production:
  :magma:
    :host: https://magma.ucsf.edu
  :metis:
    :host: https://metis.ucsf.edu
    :release_bucket: this_is_releasable
    :restrict_bucket: dont_show_anyone
  :polyphemus:
    :token: production-token

:test:
  :magma:
    :host: https://magma.test
  :metis:
    :host: https://metis.test
    :release_bucket: release
    :restrict_bucket: restrict
  :polyphemus:
    :host: https://polyphemus.test
    :token: eyJhbGciOiJSUzI1NiJ9.eyJlbWFpbCI6ImRldmVsb3BlckB1Y3NmLmVkdSIsImZpcnN0IjoiRGV2ZWxvcGVyIiwibGFzdCI6IlBlcnNvbiIsInBlcm0iOiJhOmFkbWluaXN0cmF0aW9uLGNvcHJvamVjdF90ZW1wbGF0ZSxpcGksbXZpcjEsdGVzdC1wcm9qZWN0LHRlc3RfY3JlYXRlX3Byb2plY3RfYWFhLHRlc3RfY3JlYXRlX3Byb2plY3RfYWFiLHRlc3RfY3JlYXRlX3Byb2plY3RfYWFjLHRlc3RfbXZpcjEsdGVzdF9tdmlyMix0ZXN0X212aXIzLHRlc3RfbXZpcl9hYmMiLCJleHAiOjg2NDAxNjA4MTM2NjM1fQ.I7eIxpAC7w_KjceR9_QEcWHqQOlwxBAj29s0liV7URNaKSLtTeDLS8eSFa2QCFAqqRzbU3HNDOMopNbKCKaJKFeJC4tWOHaDGYhzN3oQHXmD6vpCB6Ty3fRtz8D3y0sMHNM5ywNopJOPeGaSKUMoLMxvINBXfzFh48IhSs9WEt1myKGwNyvPMZntqZWMTBfXU22FQuVPApUEmhDTYgS5kiPZ2RR0l6yNPmTSwUteStWc4wzJFS73yXI-Lhpbbvza8ih4VU4cfxUso6-V1k3FGFgXMX6O3qEwqTuwLosM8sunn6lyJck_U-DXmpVywU0LcMsi2hq8dLUVTjXEY1qIcw
    # This is a development token and is safe to make public, does not leak anything about production or staging values
    # and cannot be used in a sensitive way.
    # This must be used for any test that stands up a service client (i.e. Etna::Clients::Magma).
  :janus:
    :host: https://janus.test
  :timur:
    :host: https://timur.test
  :db:
    :adapter: postgres
    :host: polyphemus_db
    :database: polyphemus_test
    :user: developer
    :password: password
    :search_path: [ public ]
  :dateshift_salt: 123456
  :redcap:
    :host: https://redcap.test
