name: Ruby Gem

on:
  push:
    branches: [master]

jobs:
  build:
    name: Build + Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby 2.5
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.5.x

      - name: Publish to RubyGems
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          cd etna/
          gem build *.gemspec
          REMOTE_VERSION=$(gem list ^etna$ --remote | grep -Po "\d+\.\d+\.\d+")
          LOCAL_VERSION=$(ls *.gem | grep -Po "\d+\.\d+\.\d+")
          [ "$REMOTE_VERSION" == "$LOCAL_VERSION" ] && exit
          gem push *.gem
        env:
          GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_AUTH_TOKEN}}
